<template>
    <div class="Polaris-Card__Section">
        <div class="subscription-page">
            <div class="Polaris-Card" style="padding: 20px;">Help</div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>
