<template>
    <div class="">
        <div class="Polaris-Card__Section Dashboard-main-class">
            <div class="settings-main subscription-page">
                <form>
                    <div class="setting-main-first">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="setting-main-first-left">
                                    <h5 class="settings-main-title">Basic information</h5>
                                    <h6 class="settings-main-content">Decide how we’ll display your information in outgoing emails, and when we should process your subscriptions.</h6>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="setting-main-first-right">
                                    <div class="setting-main-first-right-inner mb-5">
                                        <label class="label-main-class">From name</label>
                                        <div class="modal-input-bottom">

                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                        <input id="first_name" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.setting.email_from_name">
                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="settings-main-p-class">This is the name that will appear in outgoing emails. Your business name is recommended</p>
                                        </div>
                                    </div>

                                    <div class="setting-main-first-right-inner mb-5">

                                        <label class="label-main-class">From email</label>
                                        <div class="modal-input-bottom">

                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                        <input id="from_email" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.setting.email_from_email">
                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="settings-main-p-class">This is the email that customers will reply to when they receive an email from you</p>
                                        </div>
                                    </div>
                                    <div class="setting-main-first-right-inner">

                                        <label class="label-main-class">Process subscriptions daily at:</label>
                                        <div class="modal-input-bottom select-flex-class">

                                            <div class="Polaris-Select">
                                                <select id="dailyAt" class="Polaris-Select__Input" aria-invalid="false" v-model="form.setting.subscription_daily_at">
                                                    <option :form="item" v-for="( item, index ) in dailyAt ">{{item}}</option>
                                                </select>
                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                    <span class="Polaris-Select__SelectedOption">{{form.setting.subscription_daily_at}}</span>
                                                    <span class="Polaris-Select__Icon">
                                                         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
                                                            </svg>
                                                      </span>
                                                </div>
                                                <div class="Polaris-Select__Backdrop"></div>
                                            </div>

                                            <p class="settings-main-p-class pl-4">{{form.timezone}}</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    Subscription portal-->
                    <div class="setting-main-second pt-4">

                        <div class="subscriptions-portal">
                            <h5 class="settings-main-title">Subscription portal</h5>
                            <h6 class="settings-main-content">This is the page where your subscribers can manage their subscriptions. To learn more about making this page visible to your customers and for tips on customizing the page, <a href="#">click here</a></h6>
                        </div>
                        <div class="Polaris-Card mt-20">
                            <div class="Polaris-Card__Section">
                                <div class="mt-20" v-if="index != 'portal_content'" v-for="(item, index) in form.portal">
                                    <div class="Polaris-SettingAction">
                                        <div class="Polaris-SettingAction__Setting" v-html="portal_msgs[index]"></div>
                                        <div class="Polaris-SettingAction__Action">
                                            <button type="button" class="Polaris-Button" v-if="item" @click="changePortal(index, 0)">
                                                <span class="Polaris-Button__Content">
                                                    <span class="Polaris-Button__Text">Disable</span>
                                                </span>
                                            </button>
                                            <button v-if="!item" type="button" class="Polaris-Button Polaris-Button--primary" @click="changePortal(index, 1)">
                                                <span class="Polaris-Button__Content">
                                                    <span class="Polaris-Button__Text">Enable</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tinymce">
                                <tinymce id="d1" v-model="form.portal.portal_content"></tinymce>
                            </div>
                        </div>
<!--                        <div class="subscriptions-portal-radio">-->

<!--                            <div class="Polaris-Stack__Item">-->
<!--                                <div>-->
<!--                                    <label class="Polaris-Choice" for="Enableportal"><span class="Polaris-Choice__Control">-->
<!--                                       <span class="Polaris-RadioButton">-->
<!--                                          <input id="Enableportal" name="accounts" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="" checked="">-->
<!--                                          <span class="Polaris-RadioButton__Backdrop"></span>-->
<!--                                          <span class="Polaris-RadioButton__Icon"></span>-->
<!--                                       </span>-->
<!--                                    </span>-->
<!--                                        <span class="Polaris-Choice__Label">Enable Portal</span></label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="Polaris-Stack__Item">-->
<!--                                <div>-->
<!--                                    <label class="Polaris-Choice" for="Disableportal"><span class="Polaris-Choice__Control">-->
<!--                                           <span class="Polaris-RadioButton">-->
<!--                                              <input id="Disableportal" name="accounts" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="" checked="">-->
<!--                                              <span class="Polaris-RadioButton__Backdrop"></span>-->
<!--                                              <span class="Polaris-RadioButton__Icon"></span>-->
<!--                                           </span>-->
<!--                                        </span>-->
<!--                                        <span class="Polaris-Choice__Label">Disable Portal</span></label>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->

                    </div>
<!--                    Theme Installation-->
                    <div class="setting-main-second pt-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="setting-main-first-left">
                                    <h5 class="settings-main-title">Theme Installation</h5>
                                    <h6 class="settings-main-content">If this is a new installation, or if you’d like to add our code to a backup theme for testing purposes, select your theme to the right and get started.</h6>
                                    <h6 class="settings-main-content mt-20">Important: if you have a live store, we strongly recommend doing this on a backup theme, not on your published theme.</h6>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="setting-main-first-right">
                                    <div class="">
                                        <div class="Polaris-Labelled__LabelWrapper">
                                            <div class="Polaris-Label"><label id="PolarisSelect8Label" for="PolarisSelect8" class="Polaris-Label__Text">Choose theme for installation:</label></div>
                                        </div>
                                        <div class="Polaris-Select"><select id="PolarisSelect8" class="Polaris-Select__Input" aria-invalid="false" @change="chngTheme($event)">
                                            <option :value="item.id" v-for="(item, index) in themes" :key="index">{{item.name}}
                                            </option>
                                        </select>
                                            <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__SelectedOption">{{selectedTheme.name}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"></path>
            </svg></span></span></div>
                                            <div class="Polaris-Select__Backdrop"></div>
                                        </div>
                                    </div>
                                    <div class="mt-10">
                                        <button type="button" class="Polaris-Button Polaris-Button--primary" @click="installSnippet()">
                                            <span class="Polaris-Button__Content">
                                                <span class="Polaris-Button__Text">Install to this theme</span>
                                            </span>
                                        </button>
                                    </div>
                                    <h6 class="settings-main-content mt-20">You’re not done! You can complete the last steps of the installation by following detailed instructions <a href="#" class="Polaris-Link">here</a>.</h6>
                                    <h6 class="settings-main-content mt-20">If you prefer, we have specialists standing by to complete your installation for a small fee. They can also help customize how customers choose subscriptions, and can create a fully customized customer portal. Learn more <a href="#" class="Polaris-Link">here</a>.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Failed credit card retries-->
                    <div class="setting-main-second pt-4">

                        <div class="subscriptions-portal">

                            <h5 class="settings-main-title">Failed credit card retries</h5>
                            <h6 class="settings-main-content">Decide how you would like to retry credit cards which have failed</h6>

                        </div>

                        <div class="Failed-credit-card-retries">

                            <div class="row">

                                <div class="col-lg-6 col-md-12 failed-padding-class">

                                    <div class="row">

                                        <div class="col-lg-6 col-md-6">

                                            <label class="label-main-class">Max retry attempts</label>
                                            <div class="modal-input-bottom">

                                                <div class="Polaris-Select">
                                                    <select id="dunning_retries" class="Polaris-Select__Input" aria-invalid="false" v-model="form.setting.dunning_retries">
                                                        <option value="0">0</option>
                                                        <option :value="i" v-for="i in 15">{{ i}}</option>
                                                    </select>
                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                        <span class="Polaris-Select__SelectedOption">{{form.setting.dunning_retries}}</span>
                                                        <span class="Polaris-Select__Icon">
																				         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																								<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
																							</svg>
																				      </span>
                                                    </div>
                                                    <div class="Polaris-Select__Backdrop"></div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-lg-6 col-md-6">

                                            <label class="label-main-class">Days between retries</label>
                                            <div class="modal-input-bottom">

                                                <div class="Polaris-Select">
                                                    <select id="dunning_daysbetween" class="Polaris-Select__Input" aria-invalid="false" v-model="form.setting.dunning_daysbetween">
                                                        <option value="0">0</option>
                                                        <option :value="i" v-for="i in 15">{{ i}}</option>
                                                    </select>
                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                        <span class="Polaris-Select__SelectedOption">{{form.setting.dunning_daysbetween}}</span>
                                                        <span class="Polaris-Select__Icon">
                                                         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
                                                            </svg>
                                                      </span>
                                                    </div>
                                                    <div class="Polaris-Select__Backdrop"></div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6">

                                    <label class="label-main-class">Action taken after max retries reached</label>
                                    <div class="Polaris-Select">
                                        <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false"  v-model="form.setting.dunning_failedaction">
                                            <option value="cancel">Cancel subscription</option>
                                            <option value="pause">Pause subscription</option>
                                            <option value="skip">Skip failed order</option>
                                        </select>
                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                            <span class="Polaris-Select__SelectedOption" v-if="form.setting.dunning_failedaction == 'cancel'">Cancel subscription</span>
                                            <span class="Polaris-Select__SelectedOption" v-else>Skip failed order</span>
                                            <span class="Polaris-Select__Icon">
                                             <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
                                                </svg>
                                          </span>
                                        </div>
                                        <div class="Polaris-Select__Backdrop"></div>
                                    </div>

                                </div>

                            </div>

                            <div class="edit-email-checkbox">

                                <div class="email-checkbox-main">

                                    <label class="Polaris-Choice" for="PolarisCheckbox2">
                                          <span class="Polaris-Choice__Control">
                                             <span class="Polaris-Checkbox">
                                                <input id="PolarisCheckbox2" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" v-model="form.setting.dunning_email_enabled"><span class="Polaris-Checkbox__Backdrop"></span>
                                                <span class="Polaris-Checkbox__Icon">
                                                   <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                         <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                      </svg>
                                                   </span>
                                                </span>
                                             </span>
                                          </span>
                                        <span class="Polaris-Choice__Label">Send customers failed payment notifications</span>
                                    </label>

                                </div>

                                <div class="edit-email-btn">
                                    <button type="button" class="Polaris-Button" @click="FailedPaymentNoti= true">
                                        <span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text">Edit Email</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Billing information-->
                    <div class="setting-main-second pt-4">

                        <div class="Billing-info-main">

                            <div class="subscriptions-portal">

                                <h5 class="settings-main-title">Billing information</h5>
                                <h6 class="settings-main-content">Upgrade or downgrade your monthly plan, and get a breakdown of the transaction fees you’ve been paying for your records</h6>

                            </div>

                            <div class="export-fee-btn">

                                <button type="button" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Export Fee Breakdown</span></span></button>

                            </div>

                        </div>

                        <div class="current-ac-info">

                            <h5 class="trial-end-class">YOUR TRIAL ENDS ON {{form.plan.trial_ends}}</h5>
                            <h5 v-if="form.plan.plan_id == 1" class="transaction-fee-class">CURRENT TRANSACTION FEE: 0.75%</h5>
                            <h5 v-else class="transaction-fee-class">CURRENT TRANSACTION FEE: 0.25%</h5>

                        </div>
                        <div class="plan-bottom-box">

                            <div class="row justify-content-center">

                                <div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%">

                                    <div class="plan-box-main">

                                        <div class="plan-top-bar">

                                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Basic Plan</h2>

                                        </div>

                                        <div class="plan-bottom-part">

                                            <div class="plan-bottom-bar">

                                                <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">$10</h2>
                                                <h5>PER MONTH</h5>

                                            </div>

                                            <div class="plan-mid-bar">

                                                <h5>TRANSACTION FEE: 0.75%</h5>

                                            </div>

                                            <div class="plan-discription">

                                                <ul>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>GET SETUP IN 5 MINUTES OR LESS</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>WORKS WITH SHOPIFY PAYMENTS</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>SUBSCRIBE &amp; SAVE DISCOUNTS</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>PREPAID SUBSCRIPTIONS</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>CUSTOMER PORTAL</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>ADVANCED FAILED PAYMENT RECOVERY</span>
                                                    </li>

                                                </ul>

                                            </div>

                                            <div class="plan-btn-main">
                                                <button type="button"  v-if="form.plan.plan_id == 1" class="Polaris-Button Polaris-Button--disabled disabled" style="border: .1rem solid var(--p-border,#c4cdd5);">
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Current Plan</span>
                                                    </span>
                                                </button>
                                                <a type="button" @click="changePlan(1)" v-else class="Polaris-Button">
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Downgrade to Basic</span>
                                                    </span>
                                                </a>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%">

                                    <div class="plan-box-main">

                                        <div class="plan-top-bar">

                                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Advanced Plan</h2>

                                        </div>

                                        <div class="plan-bottom-part">

                                            <div class="plan-bottom-bar">

                                                <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">$50</h2>
                                                <h5>PER MONTH</h5>

                                            </div>

                                            <div class="plan-mid-bar">

                                                <h5>TRANSACTION FEE: 0.25%</h5>

                                            </div>

                                            <div class="plan-discription">

                                                <ul>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>REDUCED TRANSACTION FEE</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>SEND EMAILS FROM CUSTOM DOMAIN</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>SMS SUBSCRIPTION MANAGEMENT(ADDITIONAL FEE)</span>
                                                    </li>

                                                    <li>
                                                        <div class="check-icon">
                                                            <i class="fas fa-check" aria-hidden="true"></i>
                                                        </div>
                                                        <span>SMS UPSELLS (ADDITIONAL FEE)</span>
                                                    </li>

                                                </ul>

                                            </div>

                                            <div class="plan-btn-main">
                                                <button  v-if="form.plan.plan_id == 2" type="button" class="Polaris-Button Polaris-Button--disabled disabled" style="border: .1rem solid var(--p-border,#c4cdd5);">
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Current Plan</span>
                                                    </span>
                                                </button>
                                                <a v-else @click="changePlan(2)" type="button" class="Polaris-Button">
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Upgrade to Advanced</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

<!--        failed payment notification to customer model-->
        <failed-payment :failed-payment-noti.sync="FailedPaymentNoti" :email="form.email"  @update="closeModel" ></failed-payment>
    </div>
</template>

<script>
import helper from "../../../helper";
import {Button, ContextualSaveBar, Modal, Toast} from "@shopify/app-bridge/actions";
import FailedPayment from "./models/FailedPayment";
import tinymce from 'vue-tinymce-editor';

export default {
    components:{
        FailedPayment, tinymce
    },
    data(){
        return{
            selectedTheme: {
                id: '',
                name: '',
            },
            themes: {

            },
            temp_prisine: '',
            FailedPaymentNoti: false,
            portal_msgs: [],
            form: {
                email:{
                    html_body: '',
                    category: '',
                },
                setting:{
                    'email_from_name': '',
                    'email_from_email': '',
                    'subscription_daily_at': '',
                    'dunning_daysbetween': '',
                    'dunning_email_enabled': '',
                    'dunning_failedaction': '',
                    'dunning_retries': '',
                    'sendgrid_api_key': '',
                    'sendgrid_enabled': '',
                    'transaction_fee': '',
                    'twilio_number': '',
                    'twilio_status': '',
                },
                portal: [],
                timezone: '',
                plan: {
                    plan_id: '',
                }
            },
            dailyAt: ['12:01 AM','01:00 AM','02:00 AM','03:00 AM', '04:00 AM', '05:00 AM', '06:00 AM','07:00 AM', '08:00 AM', '09:00 AM',  '10:00 AM',  '11:00 AM', '12:00 PM',  '01:00 PM',  '02:00 PM',  '03:00 PM', '04:00 PM',  '05:00 PM', '06:00 PM','07:00 PM','08:00 PM',  '09:00 PM','10:00 PM',  '11:00 PM','11:59 PM'
            ],
            watch: false,
        }
    },
    methods:{
        chngTheme(event) {
            this.selectedTheme.id = event.target.value;
            this.selectedTheme.name = this.themes[event.target.selectedIndex].name;
        },
        async changePortal(index, value){
            let base = this;
            helper.startLoading();
            await axios.get('portal-status?key=' + index + '&v=' + value)
                .then(res => {
                    helper.successToast(res.data.data);
                    base.getData();
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        initPortalMsg(){
            this.portal_msgs = {
                'portal_can_cancel' : 'Customers <b>can cancel</b> their subscriptions',
                'portal_can_skip' : 'Customers <b>can skip</b> next order',
                'portal_can_ship_now' : 'Customers <b>can ship</b> their next order <b>immediately</b>',
                'portal_can_change_qty' : 'Customers <b>can update product quantities</b> for active subscriptions',
                'portal_can_change_nod' : 'Customers <b>can choose the next order date</b> for active subscriptions',
                'portal_can_change_freq' : 'Customers <b>can change their order frequency</b> for active subscriptions',
                'portal_can_add_product' : 'Customers <b>can add any product</b> to their active subscriptions',
                'portal_show_content' : 'Customers <b>can see the custom content below</b> when the portal is loaded',
            };
        },
        closeModel(action) {
           this.FailedPaymentNoti = false;
            ( action == 'refresh' ) ? this.getData() : '';
        },
        createContextualSaveBar() {
            let base = this;
            let options = {
                saveAction: {
                    disabled: false,
                    loading: false,
                },
                discardAction: {
                    disabled: false,
                    loading: false,
                    discardConfirmationModal: true,
                },
            };
            var contextualSaveBar = helper.contextualSaveBar(options);

            contextualSaveBar.dispatch(ContextualSaveBar.Action.SHOW);

            contextualSaveBar.subscribe(ContextualSaveBar.Action.DISCARD, function () {
                base.getData();
                contextualSaveBar.dispatch(ContextualSaveBar.Action.HIDE);
            });
            contextualSaveBar.subscribe(ContextualSaveBar.Action.SAVE, function () {
                contextualSaveBar.set({saveAction: {loading: true}, discardAction: {disabled: true}});
                base.sendForm();
            });
        },
        async getData() {
            let base = this;
            helper.startLoading();
            await axios.get('setting')
                .then(res => {
                    base.form  = res.data.data.data;
                    base.form.setting.dunning_email_enabled = base.form.setting.dunning_email_enabled != 0;
                    base.watch = true;
                    base.temp_prisine = JSON.stringify(base.form);
                    base.themes = res.data.data.themes;
                    base.selectedTheme = base.themes[0];
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async sendForm() {
            let base = this;
            helper.startLoading();
            await axios.post('setting', {data: base.form})
                .then(res => {
                    base.getData();
                    helper.successToast(res.data.data);
                    base.closeModel('refresh');
                })
                .catch(err => {
                    console.log(err);
                    base.errors = err.response.data;
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async changePlan(plan){
            let base = this;
            base.is_disabled = true;
            await axios({
                url: 'mbilling/' + plan,
                method: 'get',
            }).then(function (res) {
                let data = res.data.data.appSubscriptionCreate;
                window.open(data.confirmationUrl, '_parent');
            })
                .catch(function (err) {
                    helper.errorToast(err.response.data);
                }).finally(res => {
                    base.is_disabled = false;
                    helper.stopLoading();
                });
        },
        async installSnippet(){
            let base = this;
            helper.startLoading();
            await axios.post('install-theme', {data: base.selectedTheme})
                .then(res => {
                    helper.successToast(res.data.data);
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        }
    },
    mounted() {
        this.initPortalMsg();
        this.getData();
    },
    watch: {
        form: {
            immediate: true,
            deep: true,
            handler: function () {
                if (this.watch) {
                    if (_.isEqual(this.temp_prisine, JSON.stringify(this.form))) {
                        let contextualSaveBar = helper.contextualSaveBar();
                        contextualSaveBar.dispatch(ContextualSaveBar.Action.HIDE);
                    } else {
                        this.createContextualSaveBar();
                    }
                }
            }
        }
    },
}
</script>
