.justify-content-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.my-20{
    margin: 20px 0;
} 

.mt-20{
    margin-top: 20px;
} 

.mt-0{
    margin-top: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.p-15{
    padding: 15px !important;
}

.m-0{
 margin: 0 !important;
}

.justify-space-between{
    justify-content: space-between;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.grey-color{
    color: #637381;
}

.Polaris-Button__Text {
    font-weight: 600;
    font-size: 1.6rem;
}

.hr-color {
    border-top: 1px solid #DFE3E8;
    margin:10px 0;
}

.text-uppercase{
    text-transform: uppercase;
}

.account-info span{
    display: block;
}

.simplee-portal__left-Card {
    background-color: #FAFBFC;
}

.contract-id span {
    color: rgba(99, 115, 129, 0.5);
    font-weight: 700;
}

.simplee-portal__product-info a, .simplee-portal__product-info span {
    display: block;
}

.simplee-portal__product-img {
    margin-right: 20px;
    max-width: 40%;
}

.simplee-portal__added-product_left {
    max-width: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}
.simplee-portal__added-product {
    display: flex;
    align-items: center;
}
.simplee-portal__added-product_right {
    max-width: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.simplee-portal__product-info a, .simplee-portal__product-info span {
    font-weight: 600;
}
.simplee-portal__added_product_price, .simplee-portal__added_product_seperater, .simplee-portal__added_product_discount_price, .Polaris-Select__SelectedOption {
    font-weight: 700;
}
.Polaris-Tabs__Title {
    font-weight: 600;
}
.simplee-portal__right-Card_bg {
    background-color: #F9FAFB;
}
.simplee-portal__verify{
    text-align: center;
}
.simplee-portal__start {
    padding: 20px;
    border-radius: 7px !important;
    box-shadow: none !important;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    background-color: #fff;
}
.Polaris-Tabs__Tab:hover .Polaris-Tabs__Title, .Polaris-Tabs__Tab:focus .Polaris-Tabs__Title {
    font-weight: 700 !important;
}
.shipping-address span{
    display: block;
}
@media(min-width:1024px){
    .container {
        max-width: 1440px;
        margin: auto;
        padding: 0 15px;
    }
}
@media(max-width:1023px){
    .container{
        padding: 0 10px;
    }
}
@media(min-width: 992px){
    .simplee-portal_tab_select_box {
        max-width: 20%;
        margin: 20px auto;
        display: none;
    }
}
@media(max-width:991px){
    .simplee-portal__added-product_right {
        max-width: 100%;
        margin-top: 10px;
    }
    .simplee-portal__added-product_left {
        max-width: 100%;
    }
    .simplee-portal__added-product {
        display: block;
    }
    .text-right{
        text-align: center;
    }
    .Polaris-Layout__Section.Polaris-Layout__Section--secondary {
        order: 2;
    }
    .simplee-portal_tab_select_box {
        margin: 20px 0;
    }
    body .first-tab-main{
        display: none;
    }
}