<template>
    <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true"
         id="FailedPaymentNoti" style="display: none;">
        <div>
            <div role="dialog" aria-labelledby="Polarismodal-header2" tabindex="-1" class="Polaris-Modal-Dialog">
                <div class="Polaris-Modal-Dialog__Modal failed_payment__Modal">
                    <div class="Polaris-Modal-Header">
                        <div id="Polarismodal-header16" class="Polaris-Modal-Header__Title">
                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Failed Payment
                                Notifications</h2>
                        </div>
                        <button class="Polaris-Modal-CloseButton" aria-label="Close" data-dismiss="modal"
                                @click="closeModel('')">
                         <span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored">
                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                               <path
                                   d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"
                                   fill-rule="evenodd"></path>
                            </svg>
                         </span>
                        </button>
                    </div>
                    <div class="Polaris-Modal__BodyWrapper">
                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical"
                             data-polaris-scrollable="true">
                            <section class="Polaris-Modal-Section">
                                <div class="Polaris-Stack Polaris-Stack--vertical">
                                    <div class="Polaris-Stack__Item">
                                        <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList3"
                                                  aria-invalid="false">
                                            <div class="edit-details-modal">

                                                <div class="row modal-top-field-main">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="modal-input-main plan-page-modal-inner">
                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <p style="text-align: left;">Subject</p>
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="publicnameId"
                                                                               class="Polaris-TextField__Input"
                                                                               aria-labelledby="PolarisTextField8Label"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false"
                                                                               v-model="form.subject">
                                                                        <div
                                                                            class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                    <error-msg v-if="errors['data.subject']"
                                                                               :msg="errors['data.subject'][0]"></error-msg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="modal-input-main plan-page-modal-inner" style="text-align: left;">
                                                            <vue-editor useCustomImageHandler @image-added="handleImageAdded"  v-model="form.html_body"></vue-editor>
                                                        </div>
                                                        <error-msg v-if="errors['data.html_body']" :msg="errors['data.html_body'][0]"></error-msg>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="Polaris-Modal-Footer">
                        <div class="Polaris-Modal-Footer__FooterContent">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div
                                    class="Polaris-Stack__Item Polaris-Stack__Item--fill d-flex justify-content-lg-start">
                                    <div class="Polaris-TextField Polaris-TextField--hasValue mr-10">
                                        <input id="test-mail"
                                               class="Polaris-TextField__Input"
                                               aria-labelledby="PolarisTextField8Label"
                                               aria-invalid="false"
                                               aria-multiline="false" v-model="form.mailto">
                                        <div class="Polaris-TextField__Backdrop"></div>
                                    </div>
                                    <button type="button" class="Polaris-Button Polaris-Button--primary" @click="testMail()"><span
                                        class="Polaris-Button__Content"><span
                                        class="Polaris-Button__Text">Send Test</span></span></button>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button" data-dismiss="modal"
                                                    @click="closeModel('')"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span>
                                            </button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--primary"
                                                    @click="sendForm()">
                                                    <span class="Polaris-Button__Content"><span
                                                        class="Polaris-Button__Text">Save</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <error-msg v-if="errors['data.mailto']" :msg="errors['data.mailto'][0]"></error-msg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../../../helper";
import ErrorMsg from "../../../shopify/ErrorMsg";
import {VueEditor} from "vue2-editor";

var FailedPaymentNoti = "";
export default {
    name: 'FailedPaymentNoti',
    props: ['FailedPaymentNoti', 'email'],
    components: {
        ErrorMsg, VueEditor
    },
    data() {
        return {
            errors: [],
            mailto: '',
            form: ''
        }
    },
    methods: {
        closeModel(action) {
            this.errors = [];
            this.$emit('update', action);
        },
        async sendForm() {
            let base = this;
            helper.startLoading();
            await axios.post('email-body', {data: base.form})
                .then(res => {
                    helper.successToast(res.data.data);
                    base.closeModel('refresh');
                })
                .catch(err => {
                    console.log(err);
                    base.errors = err.response.data;
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async testMail(){
            let base = this;
            base.errors = [];
            helper.startLoading();
            await axios.post('mail', {data: base.form, mailto: base.mailto})
                .then(res => {
                    helper.successToast(res.data.data);
                    base.errors = [];
                })
                .catch(err => {

                    base.errors = err.response.data;
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        initForm(){
            this.form = {
                subject: this.email.subject,
                mailto: '',
                html_body: this.email.html_body,
                category: this.email.category,
            };
        },
        handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
            // An example of using FormData
            // NOTE: Your key could be different such as:
            // formData.append('file', file)
            let base = this;
            var formData = new FormData();
            formData.append("image", file);

            axios({
                url: "upload-image",
                method: "POST",
                data: formData
            })
                .then(result => {
                    let url = result.data.data; // Get url from response
                    Editor.insertEmbed(cursorLocation, "image", url);
                    resetUploader();

                    console.log(base.form);
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },
    watch: {
        FailedPaymentNoti(newVal, oldVal) {
            if (newVal === true) {
                this.initForm();
                $(FailedPaymentNoti).slideDown();
                // (  this.form.id != '' ) ? this.getData() : this.initForm();
            } else {
                $(FailedPaymentNoti).slideUp();
            }
        },
    },
    mounted() {
        FailedPaymentNoti = document.getElementById("FailedPaymentNoti");
    },
}
</script>
