<template>
    <div class="">
        <div class="Polaris-Card__Section subscribers-main-class">
            <div class="subscriber-tab-main subscription-page">
                <div class="subscribers-details-enter">

                    <div class="subscribers-details-enter-inner">

                        <div
                            class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--hasActionMenu">
                            <div class="Polaris-Page-Header__Navigation">
                                <div class="Polaris-Page-Header__BreadcrumbWrapper">
                                    <nav role="navigation">
                                        <router-link :to="{name :'subscriber'}" class="Polaris-Breadcrumbs__Breadcrumb"
                                                     data-polaris-unstyled="true">
                                             <span class="Polaris-Breadcrumbs__ContentWrapper">
                                                <span class="Polaris-Breadcrumbs__Icon">
                                                   <span class="Polaris-Icon">
                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                           focusable="false" aria-hidden="true">
                                                         <path
                                                             d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16"
                                                             fill-rule="evenodd"></path>
                                                      </svg>
                                                   </span>
                                                </span>
                                                <span class="Polaris-Breadcrumbs__Content">All subscribers</span>
                                             </span>
                                        </router-link>
                                    </nav>
                                </div>
                                <div class="Polaris-Page-Header__PaginationWrapper">
                                    <nav class="Polaris-Pagination Polaris-Pagination--plain" aria-label="Pagination">
                                        <button type="button"
                                                class="Polaris-Pagination__Button Polaris-Pagination__PreviousButton"
                                                aria-label="Previous">
                                             <span class="Polaris-Icon">
                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                     aria-hidden="true">
                                                   <path
                                                       d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2"
                                                       fill-rule="evenodd"></path>
                                                </svg>
                                             </span>
                                        </button>
                                        <button type="button"
                                                class="Polaris-Pagination__Button Polaris-Pagination__NextButton"
                                                aria-label="Next">
                                             <span class="Polaris-Icon">
                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                     aria-hidden="true">
                                                   <path
                                                       d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414"
                                                       fill-rule="evenodd"></path>
                                                </svg>
                                             </span>
                                        </button>
                                    </nav>
                                </div>
                            </div>
                            <div class="Polaris-Page-Header__MainContent">
                                <div class="Polaris-Page-Header__TitleActionMenuWrapper">
                                    <div>
                                        <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
                                            <div class="Polaris-Header-Title">
                                                <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
                                                    {{ customer.first_name }} {{ customer.last_name }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="user-info">

                            <div class="row">

                                <div class="col-lg-9">

                                    <div class="left-side-info">

                                        <div class="top-info-part">

                                            <div class="img-and-content">

                                                <div class="thumbnail-class">

                                                    <img src="images/static/Avatar.png" alt="user-avtar">

                                                </div>

                                                <div class="user-title-main">

                                                    <h5>{{ customer.first_name }} {{ customer.last_name }}</h5>
                                                    <h6>Subscriber for 9 months</h6>
                                                    <h6>{{ customer.email }}
                                                        {{ (customer.email && customer.phone) ? '/' : '' }}
                                                        {{ customer.phone }}</h6>
                                                </div>
                                            </div>

                                            <div class="view-on-shopify">
                                                <a :href="'https://' + `${shop.domain}` + '/admin/customers/' + `${customer.shopify_customer_id}`"
                                                   target="_blank">View on Shopify</a>
                                            </div>

                                        </div>

                                        <div class="bottom-info-part">

                                            <div class="row">

                                                <div class="col-lg-4 col-md-4">

                                                    <div class="common-column-info">

                                                        <a href="#">Last Order</a>
                                                        <h5>Feb 19, 2020</h5>
                                                        <h6>2:04 am</h6>

                                                    </div>

                                                </div>

                                                <div class="col-lg-4 col-md-4">

                                                    <div class="common-column-info">

                                                        <h6>Lifetime spent</h6>
                                                        <h5>
                                                            {{ customer.total_spend_currency }}{{ customer.total_spend }}</h5>
                                                        <h6>{{ customer.total_orders }} orders</h6>

                                                    </div>

                                                </div>

                                                <div class="col-lg-4 col-md-4">

                                                    <div class="common-column-info">

                                                        <h6>Average order</h6>
                                                        <h5>
                                                            {{ customer.total_spend_currency }}{{ customer.avg_order_value }}</h5>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-3">
                                    <div class="right-side-info">
                                        <h6>Customer note</h6>
                                        <form>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="7" placeholder="Add a note"
                                                          v-model="customer.notes">{{ customer.notes }}</textarea>
                                            </div>
                                            <error-msg v-if="errors['data.msg'] && is_note"
                                                       :msg="errors['data.msg'][0]"></error-msg>
                                            <div class="form-save-btn">
                                                <button type="button" class="Polaris-Button Polaris-Button--primary"
                                                        @click="saveNoteComment('note')">
                                                    <span class="Polaris-Button__Content">
                                                      <span class="Polaris-Button__Text">Save</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="subscriptions-info-start">

                            <div class="Polaris-Page-Header__MainContent">
                                <div class="Polaris-Page-Header__TitleActionMenuWrapper">
                                    <div>
                                        <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
                                            <div class="Polaris-Header-Title">
                                                <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
                                                    Subscriptions</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="subscriptions-main-info-start" v-for="(contract, cindex) in customer.Contracts"
                                 :class="{'inr-section' : (cindex != 0)}" :key="cindex">

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 padding-class">
                                        <div class="Subscriptions-info-common-column">
                                            <div class="subscriptions-status">
                                                <div class="flex-main-class">
                                                    <h6 class="Subscriptions-left-status">Status:</h6>
                                                    <h6 class="active-label label-common-class text-capitalize"
                                                        v-if="contract.status == 'active'">{{ contract.status }}</h6>
                                                    <h6 class="pause-label label-common-class text-capitalize" v-else-if="contract.status == 'paused'">
                                                        {{ contract.status }}</h6>
                                                    <h6 class="cancel-label label-common-class text-capitalize" v-else>
                                                        {{ contract.status }}</h6>
                                                </div>
                                                <div class="flex-main-class">
                                                    <h6 class="Subscriptions-left-status">Contract ID:</h6>
                                                    <h6 class="Subscriptions-right-status">
                                                        {{ contract.shopify_contract_id }}</h6>
                                                </div>
                                                <div class="flex-main-class">
                                                    <h6 class="Subscriptions-left-status">Created on:</h6>
                                                    <h6 class="Subscriptions-right-status">
                                                        {{ contract.created_at }}</h6>
                                                </div>
                                                <div class="flex-main-class">
                                                    <h6 class="Subscriptions-left-status">Currency</h6>
                                                    <h6 class="Subscriptions-right-status">$ USD</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 padding-class-2">

                                        <div class="Subscriptions-info-common-column">

                                            <div class="suCustomer notebscriptions-status">

                                                <div class="flex-main-class">

                                                    <h6 class="Subscriptions-left-status">Ship to:</h6>
                                                    <h6 class="Subscriptions-right-status">
                                                        <span>{{ contract.ship_name }}</span>
                                                        <span>{{ contract.ship_address1 }}</span>
                                                        <span>{{ contract.ship_address2 }}</span>
                                                        <span>{{ contract.ship_city }}</span>
                                                        <span>{{ contract.ship_province }}</span>
                                                        <span>{{ contract.ship_zip }}</span>
                                                        <span>{{ contract.ship_country }}</span>
                                                        <span>{{ contract.ship_phone }}</span>
                                                    </h6>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="row" style="margin-top: 50px;">

                                    <div class="col-lg-6 col-md-6 padding-class">

                                        <div class="Subscriptions-info-common-column">

                                            <div class="subscriptions-status">

                                                <div class="flex-main-class">

                                                    <h6 class="Subscriptions-left-status">Next Billing Date:</h6>
                                                    <h6 class="Subscriptions-right-status">{{ contract.next_order_date }}</h6>

                                                </div>

                                                <div class="flex-main-class">

                                                    <h6 class="Subscriptions-left-status">Deliver Every:</h6>
                                                    <h6 class="Subscriptions-right-status text-capitalize">
                                                        {{ contract.delivery_interval_count }}
                                                        {{ contract.delivery_interval }}(s)</h6>

                                                </div>

                                                <div class="flex-main-class">

                                                    <h6 class="Subscriptions-left-status">Bill Every:</h6>
                                                    <h6 class="Subscriptions-right-status text-capitalize">
                                                        {{ contract.billing_interval_count }}
                                                        {{ contract.billing_interval }}(s)</h6>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-6 col-md-6 padding-class-2">

                                        <div class="Subscriptions-info-common-column">

                                            <div class="subscriptions-status">

                                                <div class="flex-main-class">

                                                    <h6 class="Subscriptions-left-status">Fixed date:</h6>
                                                    <h6 class="Subscriptions-right-status">Monthly on the 15th</h6>

                                                </div>

                                                <div class="flex-main-class" v-if="contract.billing_min_cycles">

                                                    <h6 class="Subscriptions-left-status">Minimum orders:</h6>
                                                    <h6 class="Subscriptions-right-status">
                                                        {{ contract.billing_min_cycles }} Orders ({{contract.order_count}} complete)</h6>

                                                </div>

                                                <div class="flex-main-class" v-if="contract.billing_max_cycles">

                                                    <h6 class="Subscriptions-left-status">Maximum orders:</h6>
                                                    <h6 class="Subscriptions-right-status">
                                                        {{ contract.billing_max_cycles }} Orders ({{contract.order_count}} complete)</h6>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="products-form-start"
                                     v-if="typeof contract.line_items != 'undefined' && contract.line_items.length > 0">
                                    <div class="row class product-border-class"
                                         v-for="(lineitem, lindex) in contract.line_items" :key="lindex">

                                        <div class="col-lg-5">

                                            <div class="thumbnail-class-main">
                                                <div class="product-img-class" style="width: 50px;">
                                                    <img :src="lineitem.product_image" alt="product">
                                                </div>
                                                <div class="product-info-class">
                                                    <a :href="'https://' + `${shop.domain}` + '/admin/products/' + `${lineitem.shopify_product_id}`"
                                                       target="_blank">{{ lineitem.product_name }}</a>
                                                    <h6>{{ lineitem.variant_name }}</h6>
                                                    <h6 v-if="lineitem.sku">SKU: {{ lineitem.sku }}</h6>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-lg-7">

                                            <div class="product-price-main">

                                                <form class="product-count-form">

                                                    <div class="product-price-text">

                                                        <h5>{{ lineitem.currency_symbol }}{{ lineitem.price }}</h5>

                                                    </div>

                                                    <div class="x-indicators">

                                                        <span>X</span>

                                                    </div>

                                                    <div class="number-value-field">
                                                        <input type="number" id="PolarisTextField8"
                                                               class="Polaris-TextField__Input Polaris-TextField__Input--alignRight"
                                                               aria-labelledby="PolarisTextField8Label"
                                                               aria-invalid="false" aria-multiline="false"
                                                               v-model="lineitem.quantity"
                                                               @keyup="updatePrice(cindex, lindex)">

                                                    </div>

                                                    <div class="fomr-indicators-main">

                                                        <span class="product-indicators">-</span>

                                                    </div>


                                                    <div class="Polaris-Connected">
                                                        <div
                                                            class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                <input id="PolarisTextField10"
                                                                       class="Polaris-TextField__Input" type="number"
                                                                       aria-labelledby="PolarisTextField10Label"
                                                                       aria-invalid="false" aria-multiline="false"
                                                                       v-model="lineitem.discount_amount"
                                                                       @keyup="updatePrice(cindex, lindex)">
                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                            <div class="Polaris-Labelled--hidden">
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect4"
                                                                            class="Polaris-Select__Input"
                                                                            aria-invalid="false"
                                                                            v-model="lineitem.discount_type"
                                                                            @change="updatePrice(cindex, lindex)">
                                                                        <option value="%">%</option>
                                                                        <option :value="shop.currency">
                                                                            {{ shop.currency }}
                                                                        </option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content"
                                                                         aria-hidden="true">
                                                                        <span
                                                                            class="Polaris-Select__SelectedOption">{{ lineitem.discount_type }}</span>
                                                                        <span class="Polaris-Select__Icon">
                                                                            <span class="Polaris-Icon">
                                                                                <svg viewBox="0 0 20 20"
                                                                                     class="Polaris-Icon__Svg"
                                                                                     focusable="false"
                                                                                     aria-hidden="true">
                                                                                    <path d="M5 8l5 5 5-5z"
                                                                                          fill-rule="evenodd"></path>
                                                                                </svg>
                                                                            </span>
                                                                         </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="price-total-class-main">

                                                        <h5 class="price-total-class">
                                                            {{ shop.currency }}{{ lineitem.final_amount }}</h5>

                                                    </div>

                                                    <button type="button" class="delete-icon-class btn"
                                                            @click="deleteLineitem(cindex, lindex)">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>

                                                </form>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div  class="product-btn-main">
                                    <!--                                 cancelled subscription-->
                                    <div v-if="contract.status == 'cancelled'" class="row">

                                        <div class="col-lg-9">

                                            <div class="product-btn-main-inner">

                                                <div class="row">

                                                    <div class="col-md-4">

                                                        <div class="product-btn-common-class add-product-btn">

                                                            <button type="button"
                                                                    class="Polaris-Button Polaris-Button--destructive" @click="reactiveM(cindex, 'reactive')">
                                                                <span
                                                                    class="Polaris-Button__Content">
                                                                  <span class="Polaris-Button__Text">Reactivate</span>
                                                                </span>
                                                            </button>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <!--                                other subscriptions-->
                                    <div v-else class="row">
                                        <div class="col-lg-9">

                                            <div class="product-btn-main-inner">

                                                <div class="row">

                                                    <div class="col-md-3">

                                                        <div class="product-btn-common-class Cancel-btn">

                                                            <button type="button"
                                                                    class="Polaris-Button Polaris-Button--destructive" @click="confirm(cindex, 'cancelled')">
                                                                <span class="Polaris-Button__Content">
                                                                  <span class="Polaris-Button__Text">Cancel</span>
                                                                </span>
                                                            </button>

                                                        </div>

                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="product-btn-common-class pause-btn">
                                                            <button v-if="contract.status == 'active'" type="button"
                                                                    class="Polaris-Button Polaris-Button--destructive"
                                                                    @click="saveChanges(cindex, 'paused')">
                                                                <span class="Polaris-Button__Content">
                                                                  <span class="Polaris-Button__Text">Pause</span>
                                                                </span>
                                                            </button>
                                                            <button v-else type="button"
                                                                    class="Polaris-Button Polaris-Button--destructive"
                                                                    @click="saveChanges(cindex, 'resumed')">
                                                                <span class="Polaris-Button__Content">
                                                                  <span class="Polaris-Button__Text">Resume</span>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">

                                                        <div class="product-btn-common-class add-product-btn">

                                                            <button type="button" class="Polaris-Button Polaris-Button--destructive" @click="openPicker(cindex)">
                                                                <span class="Polaris-Button__Content">
                                                                  <span class="Polaris-Button__Text">Add Product</span>
                                                                </span>
                                                            </button>

                                                        </div>

                                                    </div>

                                                    <div class="col-md-3">

                                                        <div class="product-btn-common-class edit-details-btn">

                                                            <button data-toggle="modal" data-target="#editDetailsModal"
                                                                    type="button" class="Polaris-Button Polaris-Button--destructive" @click="editData=contract;showEditDetailsModel = true;">
                                                                <span class="Polaris-Button__Content">
                                                                  <span class="Polaris-Button__Text">Edit Details</span>
                                                                </span>
                                                            </button>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-3">

                                            <div class="product-save-btn">

                                                <button type="button" class="Polaris-Button Polaris-Button--primary"
                                                        @click="saveChanges(cindex, 'lineitem')">
                                                    <span class="Polaris-Button__Content">
                                                      <span class="Polaris-Button__Text">Save</span>
                                                    </span>
                                                </button>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--                            activity logs-->
                            <div class="activity-log-main inr-section">

                                <div class="activity-log-main-inner">

                                    <div class="activity-log-main-title">

                                        <h4>Activity Log</h4>

                                    </div>

                                    <div class="comment-form-main">

                                        <div class="comment-form-main-inner">

                                            <div class="post-comment">

                                                <div class="comment-icon">

                                                    <img src="images/static/comment-icon.png">

                                                </div>

                                                <div class="comment-input">

                                                    <form>

                                                        <div class="form-group">

                                                            <input type="text" class="form-control" v-model="commentMsg"
                                                                   placeholder="Leave a comment...">
                                                            <error-msg v-if="errors['data.msg'] && !is_note"
                                                                       :msg="errors['data.msg'][0]"></error-msg>
                                                        </div>

                                                        <div class="comment-form-btn">
                                                            <button type="button" class="btn" @click="saveNoteComment('comment')">Post</button>
                                                        </div>

                                                    </form>

                                                </div>

                                            </div>

                                            <div class="form-notice-class">

                                                <h5 style="font-size: 12px;">Only you and other staff can see comments</h5>

                                            </div>

                                            <div class="comment-showing-start">

                                                <div v-if="typeof customer.Activities != undefined && customer.Activities.length > 0" class="comment-timing" v-for="(activity , cmtindex) in customer.Activities">

                                                    <h6 class="text-uppercase">{{activity.create}}</h6>
                                                    <div class="comment-and-time" :class="{'active-comment' : ( cmtindex == 0 )}">

                                                        <h5 :class="{'comment-read' : ( activity.user_type == 'user' )}">{{ (activity.user_type == 'user' ) ? '(' + activity.user_name +  '): ' : ''}}{{activity.message}}</h5>
                                                        <h5 class="comment-time-class">{{activity.time}}</h5>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        START:: reactive model-->
        <div v-if="showReactiveModel" >
            <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true">
                <div>
                    <div role="dialog" aria-labelledby="Polarismodal-header16" tabindex="-1" class="Polaris-Modal-Dialog">
                        <div class="Polaris-Modal-Dialog__Modal">
                            <div class="Polaris-Modal-Header">
                                <div id="Polarismodal-header16" class="Polaris-Modal-Header__Title">
                                    <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Reactive Subscription</h2>
                                </div><button class="Polaris-Modal-CloseButton" aria-label="Close" @click="showReactiveModel = false"><span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                  <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path>
                </svg></span></button>
                            </div>
                            <div class="Polaris-Modal__BodyWrapper">
                                <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                                    <section class="Polaris-Modal-Section">
                                        <div class="Polaris-Stack Polaris-Stack--vertical">
                                            <div class="Polaris-Stack__Item">
                                                <div class="Polaris-TextContainer">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                                <div class="">
                                                    <div class="Polaris-Labelled__LabelWrapper">
                                                        <div class="Polaris-Label"><label id="PolarisTextField2Label" class="Polaris-Label__Text">Choose this subscriptions's next order date:</label></div>
                                                    </div>
                                                    <div class="Polaris-Connected">
                                                        <datepicker v-model="reactive.reactive_date" :disabledDates="reactive.disabledDates" :format=formatDate
                                                        ></datepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="Polaris-Modal-Footer">
                                <div class="Polaris-Modal-Footer__FooterContent">
                                    <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
                                        <div class="Polaris-Stack__Item">
                                            <div class="Polaris-ButtonGroup">
                                                <div class="Polaris-ButtonGroup__Item"><button type="button" @click="showReactiveModel = false" class="Polaris-Button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span></button></div>
                                                <div class="Polaris-ButtonGroup__Item"><button type="button" :class="{'Polaris-Button--disabled' : ( reactive.is_disable )}" class="Polaris-Button Polaris-Button--primary" @click="showReactiveModel = false;saveChanges(reactive.reactiveIndex, 'reactive')"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Reactive</span></span></button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        END:: reactive model-->

        <!-- START:: Edit Details Modal -->
        <edit-details :show-edit-details-model.sync="showEditDetailsModel" :editData=editData @update="closeModel"></edit-details>
        <!-- END:: Edit Details Modal -->
    </div>
</template>

<script>
import helper from "../../../helper";
import ErrorMsg from "../../shopify/ErrorMsg";
import {Button, ContextualSaveBar, Modal, ResourcePicker} from "@shopify/app-bridge/actions";
import Datepicker from 'vuejs-datepicker';
import moment from 'moment';
import EditDetails from "./models/EditDetails";

export default {
    components: {
        EditDetails,
        ErrorMsg,Datepicker
    },
    data() {
        return {
            errors: [],
            id: '',
            customer: [],
            shop: [],
            deleted: [],
            showReactiveModel: false,
            reactive: {},
            commentMsg: '',
            is_note: true,
            showEditDetailsModel: false,
            editData: [],
        }
    },
    methods: {
        closeModel(type, action) {
            this.showEditDetailsModel = false;

            (action == 'refresh') ? this.getData() : '';
        },
        formatDate(date) {
            return moment(date).format('DD-MM-YYYY');
        },
        deleteLineitem(cindex, lindex) {
            let cid = this.customer.Contracts[cindex].id;
            let lid = this.customer.Contracts[cindex].line_items[lindex].id;
            this.deleted[cid] = (typeof this.deleted[cid] == 'undefined') ? [] : this.deleted[cid];
            this.deleted[cid].push(lid);
            this.customer.Contracts[cindex].line_items.splice(lindex, 1);
        },
        updatePrice(cindex, lindex) {
            let lineitem = this.customer.Contracts[cindex].line_items[lindex];
            let qty = lineitem.quantity;
            let price = lineitem.price;
            let dis_amt = lineitem.discount_amount;
            let dis_type = lineitem.discount_type;

            let cal_price = (price * qty);
            let amt = '';

            if (dis_type == '%') {
                amt = (cal_price - ((cal_price * dis_amt) / 100)).toFixed(2);
            } else if (dis_type == this.shop.currency) {
                amt = (cal_price - dis_amt).toFixed(2);
            }
            amt = (qty == 0) ? '00.00' : amt;
            this.customer.Contracts[cindex].line_items[lindex].final_amount = amt;
        },
        async getData() {
            helper.startLoading();
            let base = this;
            let url = 'subscriber/' + this.id + '/edit';
            await axios.get(url)
                .then(res => {
                    base.customer = res.data.data.customer;
                    base.shop = res.data.data.shop;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async saveNoteComment(type) {
            let base = this;
            let data = {
                type: type,
                id: this.id,
                msg: ( type == 'note' ) ? this.customer.notes : this.commentMsg,
            }
            this.is_note = ( type == 'note' );
            await axios.post('save-note-comment', {data: data})
                .then(res => {
                    base.errors = [];
                    helper.successToast(res.data.data);
                    base.commentMsg = ( type == 'note' ) ? base.commentMsg : '';
                    base.getData();
                })
                .catch(err => {
                    base.errors = err.response.data;
                    console.log(base.errors);
                })
                .finally(res => {
                });
        },
        async saveChanges(cindex, type) {
            let base = this;
            let lineitem = this.customer.Contracts[cindex].line_items;
            let contract_id = this.customer.Contracts[cindex].id;
            let data = {
                reactiveIndex: this.reactive.reactiveIndex,
                reactiveDate: this.reactive.reactive_date,
                contract_id: contract_id,
                type: type,
                deleted: this.deleted,
                line_items: lineitem
            }
            let url = 'subscriber/' + this.id;
            await axios.patch(url, {data: data})
                .then(res => {
                    base.errors = [];
                    base.getData();
                    helper.successToast(res.data.data);
                    base.init();
                })
                .catch(err => {
                    base.errors = err.response.data;
                    console.log(base.errors);
                })
                .finally(res => {
                });
        },
        init(){
            this.reactive = {
                reactive_date : '',
                reactiveIndex : '',
                disabledDates: {
                    to: new Date(),
                },
                is_disable: true,
            }
        },
        confirm(cindex, type) {
            let base = this;
            let status = this.customer.Contracts[cindex].status;
            if( status == 'cancelled' ){
                helper.errorToast('Subscription already cancelled');
            }else{
                const okButton = Button.create(shopify_app_bridge, {label: 'Yes', style: Button.Style.Danger});
                const cancelButton = Button.create(shopify_app_bridge, {label: 'No'});
                const modalOptions = {
                    title: 'Cancel subscription!',
                    message: 'Are you sure you want to cancel this subscription?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };
                const myModal = Modal.create(shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);
                cancelButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                okButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                    base.saveChanges(cindex, type);
                });
            }

        },
        reactiveM(cindex, type){
            this.reactive.reactiveIndex = cindex;
            this.showReactiveModel = true;
        },
        openPicker(cindex) {
            let id = this.customer.Contracts[cindex].id;
            let base = this;
            const productPicker = ResourcePicker.create(shopify_app_bridge, {
                resourceType: ResourcePicker.ResourceType.Product,
                showVariants: true
            });

            productPicker.dispatch(ResourcePicker.Action.OPEN);
            productPicker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
                let data = {
                    'contract_id': id,
                    'resource': [],
                }
                selection.forEach(function (product, pindex) {
                    let product_id = (product.id) ? product.id.replace("gid://shopify/Product/", "") : '';
                    let variants = product.variants;
                    variants.forEach(function (variant, vindex) {
                        let variant_id = (variant.id) ? variant.id.replace("gid://shopify/ProductVariant/", "") : '';
                        let r = {
                            product_id: product_id,
                            variant_id: variant_id,
                            price: variant.price,
                            final_amount: variant.price,
                        }
                        data.resource.push(r);
                    });
                });
                base.sendLineItemsForm(data);
            });
        },
        async sendLineItemsForm(data) {
            let base = this;
            helper.startLoading(); axios.post('save-lineitems', {data: data})
                .then(res => {
                    base.getData();
                    helper.successToast(res.data.data);
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
    },
    mounted() {
        this.id = this.$route.params.id;
        this.getData();
        this.init();
    },
    watch: {
        reactive: {
            immediate: true,
            deep: true,
            handler: function () {
                if (this.reactive.reactive_date == '') {
                    this.reactive.is_disable = true;
                } else {
                    this.reactive.is_disable = false;
                }
            }
        }
    },
}
</script>
