<template>
    <div class="">
        <div class="Polaris-Card__Section subscribers-main-class">
            <div class="subscriber-tab-main">

                <div class="subscriber-tab-main-inner subscription-page">

                    <div v-if="typeof subscriber.data != 'undefined' && !subscriber.data.length && !is_search" class="no-subscriber-main">
                        <div class="no-subscriber-inner">
                            <img src="/images/static/view-more.png" alt="view-more">
                            <h5>No subscribers found</h5>
                            <p>Customers who purchase subscriptions will appear in this list</p>
                        </div>
                    </div>

                    <div v-else class="subscribers-main">
                        <div class="subscribers-main-inner">
                            <div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb; --p-frame-offset:0px;">
                                <div class="Polaris-Card">
                                    <div>
                                        <div class="Polaris-Tabs__Wrapper">
                                            <ul role="tablist" class="Polaris-Tabs">
                                                <li class="Polaris-Tabs__TabContainer">
                                                    <button id="all-customers" role="tab" type="button" tabindex="0" class="Polaris-Tabs__Tab" :class="{ 'Polaris-Tabs__Tab--selected': filterType === 'all' }" aria-selected="true" aria-controls="all-customers-content" aria-label="All customers" @click="filter('all')">
                                                        <span class="Polaris-Tabs__Title">All</span>
                                                    </button>
                                                </li>
                                                <li class="Polaris-Tabs__TabContainer">
                                                    <button id="accepts-marketing" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" :class="{ 'Polaris-Tabs__Tab--selected': filterType === 'active' }"aria-controls="accepts-marketing-content" @click="filter('active')">
                                                        <span class="Polaris-Tabs__Title">Active</span>
                                                    </button>
                                                </li>
                                                <li class="Polaris-Tabs__TabContainer">
                                                    <button id="repeat-customers" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" :class="{ 'Polaris-Tabs__Tab--selected': filterType === 'paused' }"aria-controls="repeat-customers-content" @click="filter('paused')">
                                                        <span class="Polaris-Tabs__Title">Paused</span>
                                                    </button>
                                                </li>
                                                <li class="Polaris-Tabs__TabContainer">
                                                    <button id="inactive" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" :class="{ 'Polaris-Tabs__Tab--selected': filterType === 'cancelled' }" aria-controls="prospects-content" @click="filter('cancelled')">
                                                        <span class="Polaris-Tabs__Title">Cancelled</span>
                                                    </button>
                                                </li>
                                                <li class="Polaris-Tabs__TabContainer">
                                                    <button id="failed" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" :class="{ 'Polaris-Tabs__Tab--selected': filterType === 'expired' }"aria-controls="prospects-content" @click="filter('expired')">
                                                        <span class="Polaris-Tabs__Title">Expired</span>
                                                    </button>
                                                </li>
                                                <li class="Polaris-Tabs__TabContainer">
                                                    <button id="attention" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" :class="{ 'Polaris-Tabs__Tab--selected': filterType === 'failed' }"aria-controls="prospects-content" @click="filter('failed')">
                                                        <span class="Polaris-Tabs__Title">Payment Failed</span>
                                                    </button>
                                                </li>
                                                <li class="Polaris-Tabs__DisclosureTab">
                                                    <div>
                                                        <button type="button" class="Polaris-Tabs__DisclosureActivator" aria-label="More tabs" tabindex="0" aria-controls="Polarispopover2" aria-owns="Polarispopover2" aria-expanded="false">
                                                                <span class="Polaris-Tabs__Title">
                                                                   <span class="Polaris-Icon">
                                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                         <path d="M6 10a2 2 0 1 1-4.001-.001A2 2 0 0 1 6 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 12 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 18 10z" fill-rule="evenodd"></path>
                                                                      </svg>
                                                                   </span>
                                                                </span>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="Polaris-Tabs__Panel" id="all-customers-content" role="tabpanel" aria-labelledby="all-customers" tabindex="-1">
                                            <div class="Polaris-Card__Section">
                                                <div class="Polaris-Filters">
                                                    <div class="Polaris-Filters-ConnectedFilterControl__ProxyButtonContainer" aria-hidden="true">
                                                        <div data-key="availability">
                                                            <button id="Activator-availability" type="button" class="Polaris-Button">
                                                                <span class="Polaris-Button__Content">
                                                                   <span class="Polaris-Button__Text">Availability</span>
                                                                   <span class="Polaris-Button__Icon">
                                                                      <div class="Polaris-Button__DisclosureIcon">
                                                                         <span class="Polaris-Icon">
                                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                               <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                            </svg>
                                                                         </span>
                                                                      </div>
                                                                   </span>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-Filters-ConnectedFilterControl__Wrapper">
                                                        <div class="Polaris-Filters-ConnectedFilterControl Polaris-Filters-ConnectedFilterControl--right">
                                                            <div class="Polaris-Filters-ConnectedFilterControl__CenterContainer">
                                                                <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                                                    <div class="Polaris-Labelled--hidden">
                                                                        <div class="Polaris-Labelled__LabelWrapper">
                                                                            <div class="Polaris-Label"><label id="PolarisTextField10Label" for="PolarisTextField10" class="Polaris-Label__Text">Filter subscriptions</label></div>
                                                                        </div>
                                                                        <div class="Polaris-Connected">
                                                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                                <div class="Polaris-TextField">
                                                                                    <div class="Polaris-TextField__Prefix" id="PolarisTextField10Prefix">
                                                                                      <span class="Polaris-Filters__SearchIcon">
                                                                                         <span class="Polaris-Icon">
                                                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                               <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8m9.707 4.293l-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                                                                                            </svg>
                                                                                         </span>
                                                                                      </span>
                                                                                    </div>
                                                                                    <input id="filter-subscription" v-model="search" placeholder="Filter subscriptions" class="Polaris-TextField__Input Polaris-TextField__Input--hasClearButton" aria-labelledby="PolarisTextField10Label PolarisTextField10Prefix" aria-invalid="false" aria-multiline="false" value="">
                                                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="Polaris-Filters-ConnectedFilterControl__RightContainer">
                                                                <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                                                    <div>
                                                                        <button type="button" class="Polaris-Button Polaris-Button--primary Simplee-Button--primary" @click="is_search=true,getData(url)">
                                                                            <span class="Polaris-Button__Content">
                                                                              <span class="Polaris-Button__Text">Search</span>
                                                                            </span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="Polaris-Filters-ConnectedFilterControl__MoreFiltersButtonContainer">
                                                                <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                                                    <div>
                                                                        <a :href="`/subscribers/export/` + filterType + `/` + search" type="button" class="Polaris-Button Polaris-Button--primary Simplee-Button--primary" >
                                                                            <span class="Polaris-Button__Content">
                                                                              <span class="Polaris-Button__Text">Export</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="prepaid-subscriber-bottom">
                                                    <div class="Polaris-DataTable__Navigation">
                                                        <button type="button" class="Polaris-Button Polaris-Button--disabled Polaris-Button--plain Polaris-Button--iconOnly" disabled="" aria-label="Scroll table left one column">
                                                             <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Icon">
                                                                   <span class="Polaris-Icon">
                                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                         <path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16" fill-rule="evenodd"></path>
                                                                      </svg>
                                                                   </span>
                                                                </span>
                                                             </span>
                                                        </button>
                                                        <button type="button" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Scroll table right one column">
                                                             <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Icon">
                                                                   <span class="Polaris-Icon">
                                                                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                         <path d="M8 16a.999.999 0 0 1-.707-1.707L11.586 10 7.293 5.707a.999.999 0 1 1 1.414-1.414l5 5a.999.999 0 0 1 0 1.414l-5 5A.997.997 0 0 1 8 16" fill-rule="evenodd"></path>
                                                                      </svg>
                                                                   </span>
                                                                </span>
                                                             </span>
                                                        </button>
                                                    </div>
                                                    <div class="Polaris-DataTable">
                                                        <div class="Polaris-DataTable__ScrollContainer">
                                                            <table class="Polaris-DataTable__Table">
                                                                 <thead>
                                                                  <tr>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col">Status</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Customer</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Orders</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">First Order Date</th>
                                                                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Next Order Date</th>
                                                                  </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr v-if="filterData.length" class="Polaris-DataTable__TableRow" v-for="(item, index) in filterData" :key="index">
                                                                    <td>
                                                                        <div class="active-label label-common-class f-14 text-capitalize" :class="statusClasses[item.status]">{{item.status}}</div>
                                                                    </td>
                                                                    <td class="customer__td__class">
                                                                        <router-link :to="{name :'subscriber-details', params: { id: item.id  }}" tag="div" class="subscribers-name f-14" >{{item.first_name}} {{ item.last_name }}</router-link>
                                                                        <div class="subscribers-details f-14">
                                                                            <span class="subscribers-email f-14" v-if="item.email">{{item.email}}</span>
                                                                            <span class="subscribers-email f-14" v-else>[no email found]</span>
                                                                            <span class="indicator-class f-14" v-if="item.phone">/</span>
                                                                            <span class="subscribers-mo f-14">{{item.phone}}</span>
                                                                        </div>
                                                                    </td>
                                                                    <td class="order-class f-14">{{item.order_count}}</td>
                                                                    <td class="amount-class f-14">{{item.date_first_order}}</td>
                                                                    <td class="amount-class f-14">{{item.next_order_date}}</td>
                                                                </tr>
                                                                <tr v-if="!filterData.length">
                                                                    <td colspan="5">
                                                                        <div class="no-subscriber-inner">
                                                                            <img src="/images/static/view-more.png" alt="view-more">
                                                                            <h5>No subscribers found</h5>
                                                                            <p v-if="filterType == 'attention'">Customers who neet to attention will appear in this list</p>
                                                                            <p v-else-if="filterType == 'failed'">Customers whose transaction failed will appear in this list</p>
                                                                            <p v-else>Customers who {{ filterType }} will appear in this list</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Tabs__Panel Polaris-Tabs__Panel--hidden" id="accepts-marketing-content" role="tabpanel" aria-labelledby="accepts-marketing" tabindex="-1"></div>
                                        <div class="Polaris-Tabs__Panel Polaris-Tabs__Panel--hidden" id="repeat-customers-content" role="tabpanel" aria-labelledby="repeat-customers" tabindex="-1"></div>
                                        <div class="Polaris-Tabs__Panel Polaris-Tabs__Panel--hidden" id="prospects-content" role="tabpanel" aria-labelledby="prospects" tabindex="-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="filterData.length" class="pagination-main">

                        <div class="pagination-main-total">

                            <h6 class="f-14">Showing {{subscriber.from}}-{{subscriber.to}} of <span class="f-14">{{subscriber.total}}</span></h6>

                        </div>
                        <nav class="Polaris-Pagination" aria-label="Pagination">
                            <button type="button" class="Polaris-Pagination__Button simplee-Pagination__Button Polaris-Pagination__PreviousButton" :disabled="!subscriber.prev_page_url" :class="{ 'Polaris-Button--disabled': !subscriber.prev_page_url }" aria-label="Previous" @click="getData(subscriber.prev_page_url)">
                                 <span class="Polaris-Icon">
                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                       <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2" fill-rule="evenodd"></path>
                                    </svg>
                                 </span>
                            </button>
                            <button type="button" class="Polaris-Pagination__Button simplee-Pagination__Button Polaris-Pagination__NextButton" aria-label="Next" :disabled="!subscriber.next_page_url" :class="{ 'Polaris-Button--disabled': !subscriber.next_page_url }" @click="getData(subscriber.next_page_url)">
                                 <span class="Polaris-Icon">
                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                       <path d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                                    </svg>
                                 </span>
                            </button>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../../helper';
    export default {
        data(){
           return{
               subscriber: [],
               filterData: [],
               filterType: 'all',
               search: '',
               url: '',
               is_search: false,
               statusClasses: {
                   active: 'active-label',
                   paused: 'paused-label',
                   cancelled: 'cancelled-label',
                   expired: 'expired-label',
                   failed: 'failed-label',
               }
           }
        },
        methods:{
            async getData(url) {
                let base = this;
                helper.startLoading();
                url = url + '&s=' + base.search;
                await axios.get(url)
                    .then(res => {
                        base.subscriber  = res.data.data;
                        base.filter(base.filterType);
                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(res => {
                        helper.stopLoading();
                    });
            },
            filter(type){
                let base = this;
                base.filterType = type;
                base.filterData = [];
                if( type === 'all' ){
                    base.filterData = base.subscriber.data;
                } else{
                     _.find(base.subscriber.data, function (o) {
                        if( o.status == type ){
                            base.filterData.push(o);
                        }
                    });
                }
            },
        },
        mounted() {
            let base = this;
            base.url = 'subscriber?page=1';
            base.getData(base.url);

            // Get the input field
            var input = document.getElementById("filter-subscription");

            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function(event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    base.is_search=true;
                    base.getData(base.url);
                }
            });
        },
        filters:{
            format_string(str){
                return ( str > 1 ) ? str + ' orders' : str + ' order';
            }
        }
    }
</script>
