<template>
   <div class="">
      <div class="Polaris-Card__Section subscribers-main-class">
         <div class="subscriber-tab-main subscription-page">
            <div class="subscribers-details-enter">
               <div class="subscribers-details-enter-inner">
                  <div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--hasActionMenu">
                     <div class="Polaris-Page-Header__MainContent">
                        <div class="Polaris-Page-Header__TitleActionMenuWrapper">
                           <div>
                              <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
                                 <div class="Polaris-Header-Title">
                                    <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Add Plan in Subscribe & Save</h1>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="plan-form-main">
                     <div class="plan-card my-5">
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="left-side-info">
                                 <div class="subscriptions-main-info-start">
                                    <div>
                                       <h6 class="boxes-title mb-20">Names and Options</h6>
                                    </div>
                                    <div class="plan-form-start">
                                       <form>
                                          <div class="row">
                                             <div class="col-12 col-md-6 margin-bottom-class">
                                                <label class="label-main-class">Public name <i class="far fa-question-circle" aria-hidden="true"></i></label>
                                                <div class="modal-input-bottom">
                                                   <div class="Polaris-Connected">
                                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                         <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                            <input id="PolarisTextField8" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" placeholder="e.g. Monthly Subscription">
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-12 col-md-6 margin-bottom-class">
                                                <label class="label-main-class">Plan description <i class="far fa-question-circle" aria-hidden="true"></i></label>
                                                <div class="modal-input-bottom">
                                                   <div class="Polaris-Connected">
                                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                         <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                            <input id="PolarisTextField8" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" placeholder="e.g. Delivered every 30 days. Cancel anytime.">
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-12 col-md-6">
                                                <label class="label-main-class">Deliver every (Option 1) <i class="far fa-question-circle" aria-hidden="true"></i></label>
                                                <div class="modal-input-bottom">
                                                   <div class="Polaris-Connected">
                                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                         <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                            <input id="PolarisTextField8" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" placeholder="e.g. 1 Month">
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-12 col-md-6">
                                                <label class="label-main-class">Pay every (Option 2) <i class="far fa-question-circle" aria-hidden="true"></i></label>
                                                <div class="modal-input-bottom">
                                                   <div class="Polaris-Connected">
                                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                         <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                            <input id="PolarisTextField8" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false">
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="plan-card mb-5">
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="left-side-info">
                                 <div class="subscriptions-main-info-start">
                                    <div>
                                       <h6 class="boxes-title mb-20">Billing and Recurrences</h6>
                                    </div>
                                    <div class="plan-form-start">
                                       <form>
                                          <div class="row">
                                             <div class="col-12 col-md-6 margin-bottom-class">
                                                <label class="label-main-class">Bill every <i class="far fa-question-circle" aria-hidden="true"></i></label>                                 			
                                                <div class="Polaris-Connected">
                                                   <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                      <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                         <input id="PolarisTextField10" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" value="1">
                                                         <div class="Polaris-TextField__Backdrop"></div>
                                                      </div>
                                                   </div>
                                                   <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                      <div class="Polaris-Labelled--hidden">
                                                         <div class="Polaris-Select">
                                                            <select id="PolarisSelect4" class="Polaris-Select__Input" aria-invalid="false">
                                                               <option value="Week">Week(s)</option>
                                                               <option value="year">Year(s)</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true">
                                                               <span class="Polaris-Select__SelectedOption">Month(s)</span>
                                                               <span class="Polaris-Select__Icon">
                                                                  <span class="Polaris-Icon">
                                                                     <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                     </svg>
                                                                  </span>
                                                               </span>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-12 col-md-6 margin-bottom-class">
                                                <label class="label-main-class">Deliver every <i class="far fa-question-circle" aria-hidden="true"></i></label>                                 			
                                                <div class="Polaris-Connected">
                                                   <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                      <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                         <input id="PolarisTextField10" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" value="1">
                                                         <div class="Polaris-TextField__Backdrop"></div>
                                                      </div>
                                                   </div>
                                                   <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                      <div class="Polaris-Labelled--hidden">
                                                         <div class="Polaris-Select">
                                                            <select id="PolarisSelect4" class="Polaris-Select__Input" aria-invalid="false">
                                                               <option value="Week">Week(s)</option>
                                                               <option value="year">Year(s)</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true">
                                                               <span class="Polaris-Select__SelectedOption">Month(s)</span>
                                                               <span class="Polaris-Select__Icon">
                                                                  <span class="Polaris-Icon">
                                                                     <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                     </svg>
                                                                  </span>
                                                               </span>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-12 col-md-6">
                                             	<div class="label-main-class">
                                             		<label class="Polaris-Choice" for="PolarisCheckbox2">
													   <span class="Polaris-Choice__Control">
													      <span class="Polaris-Checkbox">
													         <input id="PolarisCheckbox2" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span>
													         <span class="Polaris-Checkbox__Icon">
													            <span class="Polaris-Icon">
													               <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
													                  <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
													               </svg>
													            </span>
													         </span>
													      </span>
													   </span>
													   <span class="Polaris-Choice__Label">Make this a prepaid plan</span>
													</label>
													<i class="far fa-question-circle" aria-hidden="true"></i>
                                             	</div>                                                
                                             </div>
                                             <div class="col-12 col-md-6">
                                             	<div class="label-main-class">
                                             		<label class="Polaris-Choice" for="PolarisCheckbox3">
													   <span class="Polaris-Choice__Control">
													      <span class="Polaris-Checkbox">
													         <input id="PolarisCheckbox3" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span>
													         <span class="Polaris-Checkbox__Icon">
													            <span class="Polaris-Icon">
													               <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
													                  <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
													               </svg>
													            </span>
													         </span>
													      </span>
													   </span>
													   <span class="Polaris-Choice__Label">Renew prepaid order each billing cycle</span>
													</label>
													<i class="far fa-question-circle" aria-hidden="true"></i>
                                             	</div>                                                
                                             </div>
                                             <div class="border-hr"></div>
                                             <div class="col-12 col-md-6 margin-bottom-class">
                                                <label class="label-main-class">Recur order on <i class="far fa-question-circle" aria-hidden="true"></i></label>                                 			
                                                <div class="Polaris-Select">
												   <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false">
												      <option value="today">A fixed day each cycle</option>
												      <option value="yesterday">A fixed day each cycle</option>
												      <option value="lastWeek">A fixed day each cycle</option>
												   </select>
												   <div class="Polaris-Select__Content" aria-hidden="true">
												      <span class="Polaris-Select__SelectedOption">A fixed day each cycle</span>
												      <span class="Polaris-Select__Icon">
												         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
															</svg>
												      </span>
												   </div>
												   <div class="Polaris-Select__Backdrop"></div>
												</div>
                                             </div> 
                                              <div class="col-12 col-md-6 margin-bottom-class"></div>
                                             <div class="col-12 col-md-4">
                                                <label class="label-main-class">Recur order on <i class="far fa-question-circle" aria-hidden="true"></i></label>                                 			
                                                <div class="Polaris-Select">
												   <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false">
												      <option value="today">A fixed day each cycle</option>
												      <option value="yesterday">A fixed day each cycle</option>
												      <option value="lastWeek">A fixed day each cycle</option>
												   </select>
												   <div class="Polaris-Select__Content" aria-hidden="true">
												      <span class="Polaris-Select__SelectedOption">A fixed day each cycle</span>
												      <span class="Polaris-Select__Icon">
												         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
															</svg>
												      </span>
												   </div>
												   <div class="Polaris-Select__Backdrop"></div>
												</div>
                                             </div> 
                                             <div class="col-12 col-md-2">
                                                <label class="label-main-class">Fixed day <i class="far fa-question-circle" aria-hidden="true"></i></label>                                 			
                                                <div class="Polaris-Connected">
											         <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
											            <div class="Polaris-TextField Polaris-TextField--hasValue">
											               <input id="PolarisTextField6" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField6Label" aria-invalid="false" aria-multiline="false" value="1">
											               <div class="Polaris-TextField__Spinner" aria-hidden="true">
											                  <div role="button" class="Polaris-TextField__Segment" tabindex="-1">
											                     <div class="Polaris-TextField__SpinnerIcon">
											                        <span class="Polaris-Icon">
											                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
											                              <path d="M15 12l-5-5-5 5z"></path>
											                           </svg>
											                        </span>
											                     </div>
											                  </div>
											                  <div role="button" class="Polaris-TextField__Segment" tabindex="-1">
											                     <div class="Polaris-TextField__SpinnerIcon">
											                        <span class="Polaris-Icon">
											                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
											                              <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
											                           </svg>
											                        </span>
											                     </div>
											                  </div>
											               </div>
											               <div class="Polaris-TextField__Backdrop"></div>
											            </div>
											         </div>
											      </div>
                                             </div>   
                                             <div class="col-12 col-md-2">
                                                <label class="label-main-class">Cutoff period <i class="far fa-question-circle" aria-hidden="true"></i></label>                                 			
                                                <div class="Polaris-Connected">
											         <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
											            <div class="Polaris-TextField Polaris-TextField--hasValue">
											               <input id="PolarisTextField6" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField6Label" aria-invalid="false" aria-multiline="false" value="1">
											               <div class="Polaris-TextField__Spinner" aria-hidden="true">
											                  <div role="button" class="Polaris-TextField__Segment" tabindex="-1">
											                     <div class="Polaris-TextField__SpinnerIcon">
											                        <span class="Polaris-Icon">
											                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
											                              <path d="M15 12l-5-5-5 5z"></path>
											                           </svg>
											                        </span>
											                     </div>
											                  </div>
											                  <div role="button" class="Polaris-TextField__Segment" tabindex="-1">
											                     <div class="Polaris-TextField__SpinnerIcon">
											                        <span class="Polaris-Icon">
											                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
											                              <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
											                           </svg>
											                        </span>
											                     </div>
											                  </div>
											               </div>
											               <div class="Polaris-TextField__Backdrop"></div>											               
											            </div>
											         </div>
											         <div class="number-field-right-label"><span>days</span></div>
											      </div>
                                             </div> 
                                             <div class="col-12 col-md-4">
                                                <label class="label-main-class">If first order within cutoff period <i class="far fa-question-circle" aria-hidden="true"></i></label>
                                                <div class="Polaris-Select">
												   <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false">
												      <option value="today">A fixed day each cycle</option>
												      <option value="yesterday">A fixed day each cycle</option>
												      <option value="lastWeek">A fixed day each cycle</option>
												   </select>
												   <div class="Polaris-Select__Content" aria-hidden="true">
												      <span class="Polaris-Select__SelectedOption">Create order immediately</span>
												      <span class="Polaris-Select__Icon">
												         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
															</svg>
												      </span>
												   </div>
												   <div class="Polaris-Select__Backdrop"></div>
												</div>
                                             </div>                                        
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="plan-card mb-5">
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="left-side-info">
                                 <div class="subscriptions-main-info-start">
                                    <div>
                                       <h6 class="boxes-title mb-20">Discount and Order Limits</h6>
                                    </div>
                                    <div class="plan-form-start">
                                       <form>
                                          <div class="row">
                                             <div class="col-12 col-md-6 margin-bottom-class">
                                                <label class="label-main-class">Subscription discount <i class="far fa-question-circle" aria-hidden="true"></i></label> 
                                                <div class="Polaris-Connected">
                                                   <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                      <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                         <input id="PolarisTextField10" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" value="1">
                                                         <div class="Polaris-TextField__Backdrop"></div>
                                                      </div>
                                                   </div>
                                                   <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                      <div class="Polaris-Labelled--hidden">
                                                         <div class="Polaris-Select">
                                                            <select id="PolarisSelect4" class="Polaris-Select__Input" aria-invalid="false">
                                                               <option value="Week">%</option>
                                                               <option value="year">-</option>
                                                               <option value="year">+</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true">
                                                               <span class="Polaris-Select__SelectedOption">%</span>
                                                               <span class="Polaris-Select__Icon">
                                                                  <span class="Polaris-Icon">
                                                                     <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                     </svg>
                                                                  </span>
                                                               </span>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-12 col-md-4 margin-bottom-class">
                                                <label class="label-main-class">Discount on future orders <i class="far fa-question-circle" aria-hidden="true"></i></label> 
                                                <div class="Polaris-Connected">
                                                   <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                      <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                         <input id="PolarisTextField10" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" value="1">
                                                         <div class="Polaris-TextField__Backdrop"></div>
                                                      </div>
                                                   </div>
                                                   <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                      <div class="Polaris-Labelled--hidden">
                                                         <div class="Polaris-Select">
                                                            <select id="PolarisSelect4" class="Polaris-Select__Input" aria-invalid="false">
                                                               <option value="Week">%</option>
                                                               <option value="year">-</option>
                                                               <option value="year">+</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true">
                                                               <span class="Polaris-Select__SelectedOption">%</span>
                                                               <span class="Polaris-Select__Icon">
                                                                  <span class="Polaris-Icon">
                                                                     <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                     </svg>
                                                                  </span>
                                                               </span>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-12 col-md-2">
                                                <label class="label-main-class">Start after <i class="far fa-question-circle" aria-hidden="true"></i></label>                                 			
                                                <div class="Polaris-Connected">
											         <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
											            <div class="Polaris-TextField Polaris-TextField--hasValue">
											               <input id="PolarisTextField6" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField6Label" aria-invalid="false" aria-multiline="false" value="1">
											               <div class="Polaris-TextField__Spinner" aria-hidden="true">
											                  <div role="button" class="Polaris-TextField__Segment" tabindex="-1">
											                     <div class="Polaris-TextField__SpinnerIcon">
											                        <span class="Polaris-Icon">
											                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
											                              <path d="M15 12l-5-5-5 5z"></path>
											                           </svg>
											                        </span>
											                     </div>
											                  </div>
											                  <div role="button" class="Polaris-TextField__Segment" tabindex="-1">
											                     <div class="Polaris-TextField__SpinnerIcon">
											                        <span class="Polaris-Icon">
											                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
											                              <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
											                           </svg>
											                        </span>
											                     </div>
											                  </div>
											               </div>
											               <div class="Polaris-TextField__Backdrop"></div>											               
											            </div>
											         </div>
											         <div class="number-field-right-label"><span>orders</span></div>
											      </div>
                                             </div> 
                                             <div class="col-12 col-md-6">
                                                <label class="label-main-class">Minimum number of orders <i class="far fa-question-circle" aria-hidden="true"></i></label>                                 			
                                                <div class="Polaris-Select">
												   <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false">
												      <option value="today">A fixed day each cycle</option>
												      <option value="yesterday">A fixed day each cycle</option>
												      <option value="lastWeek">A fixed day each cycle</option>
												   </select>
												   <div class="Polaris-Select__Content" aria-hidden="true">
												      <span class="Polaris-Select__SelectedOption">No minimum</span>
												      <span class="Polaris-Select__Icon">
												         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
															</svg>
												      </span>
												   </div>
												   <div class="Polaris-Select__Backdrop"></div>
												</div>
                                             </div> 
                                             <div class="col-12 col-md-6">
                                                <label class="label-main-class">Maximum number of orders <i class="far fa-question-circle" aria-hidden="true"></i></label> 
                                                <div class="Polaris-Select">
												   <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false">
												      <option value="today">A fixed day each cycle</option>
												      <option value="yesterday">A fixed day each cycle</option>
												      <option value="lastWeek">A fixed day each cycle</option>
												   </select>
												   <div class="Polaris-Select__Content" aria-hidden="true">
												      <span class="Polaris-Select__SelectedOption">No maximum</span>
												      <span class="Polaris-Select__Icon">
												         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
															</svg>
												      </span>
												   </div>
												   <div class="Polaris-Select__Backdrop"></div>
												</div>
                                             </div>                                                                            
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-btn-class">
                     	<div class="row">
                     		<div class="col-12 col-md-6">
                     			<button class="Polaris-Button Polaris-Button--destructive" type="button">
                     				<span class="Polaris-Button__Content">
                     					<span class="Polaris-Button__Text">Delete Plan</span>
                     				</span>
                     			</button>
                     		</div>
                     		<div class="col-12 col-md-6">
                     			<div class="text-right">
                     				<button class="Polaris-Button" type="button">
                     					<span class="Polaris-Button__Content">
                     						<span class="Polaris-Button__Text">Cancel</span>
                     					</span>
                     				</button>
                     				<button type="button" class="Polaris-Button Polaris-Button--primary Simplee-Button--primary ml-3">
                     					<span class="Polaris-Button__Content">
                     						<span class="Polaris-Button__Text">Save Plan</span>
                     					</span>
                     				</button>
                     			</div>
                     		</div>
                     	</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>
<script></script>
