<template>
    <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true" id="editDetails" style="display: none;">
        <div>
            <div role="dialog" aria-labelledby="Polarismodal-header3" tabindex="-1" class="Polaris-Modal-Dialog">
                <div class="Polaris-Modal-Dialog__Modal">
                    <div class="Polaris-Modal-Header">
                        <div id="Polarismodal-header16" class="Polaris-Modal-Header__Title">
                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Edit - contract #{{form.shopify_contract_id}}</h2>
                        </div>
                        <button class="Polaris-Modal-CloseButton" aria-label="Close" data-dismiss="modal" @click="closeModel('')">
	                     <span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored">
	                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
	                           <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path>
	                        </svg>
	                     </span>
                        </button>
                    </div>
                    <div class="Polaris-Modal__BodyWrapper">
                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                            <section class="Polaris-Modal-Section">
                                <div class="Polaris-Stack Polaris-Stack--vertical">
                                    <div class="Polaris-Stack__Item">
                                        <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList3" aria-invalid="false">
                                            <div class="edit-details-modal">

                                                <form>

                                                    <div v-if="editType == 'rules'" class="row">

                                                        <div class="col-lg-6 col-md-6">

                                                            <label class="label-main-class">Next billing date:<i class="far fa-question-circle"></i></label>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <div class="modal-input-main">

                                                                <div class="Polaris-Select billing-date-padding">
                                                                    <select id="PolarisSelect12" class="Polaris-Select__Input" aria-invalid="false">
                                                                        <option value="today">Apr 15, 2020</option>
                                                                        <option value="yesterday">May 15, 2020</option>
                                                                        <option value="lastWeek">Apr 15, 2020</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">Apr 15, 2020</span>
                                                                        <span class="Polaris-Select__Icon">
											                        <span class="Polaris-Icon">
											                        	<svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
													                  		<path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
														                </svg>
														            </span>
											                     </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <label class="label-main-class">Deliver every:<i class="far fa-question-circle"></i></label>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <div class="modal-input-main">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="PolarisTextField10" class="Polaris-TextField__Input" type="number" v-model="form.delivery_interval_count" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                        <div class="Polaris-Labelled--hidden">
                                                                            <div class="Polaris-Select">
                                                                                <select id="delivery-interval" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_interval" @change="deliveryAnchorsOpt()">
                                                                                <option :value="item.value" v-for="(item, index) in interval">{{item.label}}</option>
                                                                            </select>
                                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                    <span class="Polaris-Select__SelectedOption">{{form.delivery_interval}}</span>
                                                                                    <span class="Polaris-Select__Icon">
													                        <span class="Polaris-Icon">
													                        	<svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
															                  		<path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
																                </svg>
																            </span>
													                     </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <label class="label-main-class">Bill every:</label>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <div class="modal-input-main">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="PolarisTextField10" class="Polaris-TextField__Input" type="number" v-model="form.billing_interval_count" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" value="1">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                        <div class="Polaris-Labelled--hidden">
                                                                            <div class="Polaris-Select">
                                                                               <select id="billing-interval" class="Polaris-Select__Input" aria-invalid="false" v-model="form.billing_interval">
                                                                                <option :value="item.value" v-for="(item, index) in interval">{{item.label}}</option>
                                                                            </select>
                                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                    <span class="Polaris-Select__SelectedOption">{{form.billing_interval}}</span>
                                                                                    <span class="Polaris-Select__Icon">
													                        <span class="Polaris-Icon">
													                        	<svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
															                  		<path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
																                </svg>
																            </span>
													                     </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <label class="label-main-class">Recur on:</label>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6">

                                                            <div class="modal-input-main">

                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_intent">
                                                                    <option value="The initial day of purchase">The initial day of purchase</option>
                                                                    <option value="A fixed day each delivery cycle">A fixed day each delivery cycle</option>
                                                                </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">{{form.delivery_intent}}</span>
                                                                        <span class="Polaris-Select__Icon">
														         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"/>
																	</svg>
														      </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6" v-if="form.delivery_intent == 'A fixed day each delivery cycle' && form.delivery_interval != 'day'">

                                                            <label class="label-main-class">Fixed day</label>

                                                        </div>

                                                        <div class="col-lg-6 col-md-6" v-if="form.delivery_intent == 'A fixed day each delivery cycle' && form.delivery_interval != 'day'">

                                                            <div class="modal-input-main">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Select">
                                                                        <select id="delivery_anchors" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_anchor_day">
                                                                            <option v-for="(item, index) in delivery_anchors_opt" :value="index" v-if="item != 0 || item != ''">{{item}}</option>
                                                                        </select>
                                                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                                                            <span class="Polaris-Select__SelectedOption">{{delivery_anchors_opt[form.delivery_anchor_day]}}</span>
                                                                            <span class="Polaris-Select__Icon">
                                                                 <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
                                                                    </svg>
                                                              </span>
                                                                        </div>
                                                                        <div class="Polaris-Select__Backdrop"></div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div v-if="editType == 'address'" class="row modal-bottom-field-main">
<!--                                                        ship firstName-->
                                                    <div class="col-lg-6">

                                                        <label class="label-main-class">First name</label>
                                                        <div class="modal-input-bottom">

                                                            <div class="Polaris-Connected">
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="first_name" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_firstName">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
<!--                                                        ship lastName-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">Last name</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="last_name" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false"  v-model="form.ship_lastName">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
<!--                                                        ship company-->
                                                        <div class="col-lg-12">

                                                            <label class="label-main-class">Company</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_company" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_company">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--Address1-->
                                                        <div class="col-lg-12">

                                                            <label class="label-main-class">Address1</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_address1" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_address1">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
<!--                                                        Address2-->
                                                        <div class="col-lg-12">

                                                            <label class="label-main-class">Address2</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_address2" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_address2">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

<!--                                                        ship city-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">City</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="ship_city" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_city">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <!--ship zipcode-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">ZIP code</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input type="number" id="ship_zipcode" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.ship_zip">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

<!--                                                         ship country-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">Country/Region</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Select">

                                                                    <select id="countries" class="Polaris-Select__Input" aria-invalid="false" v-model="form.ship_country">
                                                                        <option v-for="(country, cindex) in countries" :value="country.name">{{country.name}}</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">{{form.ship_country}}</span>
                                                                        <span class="Polaris-Select__Icon">
				                                                   <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"/>
				                                                   </svg>
				                                                </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>

                                                            </div>

                                                        </div>
<!--                                                         ship state-->
                                                        <div class="col-lg-6">

                                                            <label class="label-main-class">State</label>
                                                            <div class="modal-input-bottom">

                                                                <div class="Polaris-Select">

                                                                    <select id="states" class="Polaris-Select__Input" aria-invalid="false" v-model="form.ship_province">
                                                                        <option v-for="(state, sindex) in states" :value="state.name">{{state.name}}</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">{{form.ship_province}}</span>
                                                                        <span class="Polaris-Select__Icon">
				                                                   <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"/>
				                                                   </svg>
				                                                </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </form>

                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="Polaris-Modal-Footer">
                        <div class="Polaris-Modal-Footer__FooterContent">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button" data-dismiss="modal" @click="closeModel('')"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span></button></div>
                                        <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../../../helper";
import ErrorMsg from "../../../shopify/ErrorMsg";

var editDetails = "";
export default {
    components:{
        ErrorMsg
    },
    name: 'EditDetails',
    props: ['showEditDetailsModel', 'editData', 'editType'],
    data(){
        return{
            interval: [
                {label: 'Day(s)', value: 'day'},
                {label: 'Week(s)', value: 'week'},
                {label: 'Month(s)', value: 'month'},
                {label: 'Year(s)', value: 'year'},
            ],
            form: '',
            is_disable: false,
            errors: [],
            btnTxt: 'Add',
            delivery_anchors_opt: [],
            countries: [],
            states: [],
        }
    },
    methods:{
        closeModel(action) {
            // this.errors = [];
            // this.initForm();
            this.$emit('update', action);
        },
        async sendForm(){
            let base = this;
            base.is_disable = true;
            helper.startLoading();
            await axios.post('plan', {data: base.form})
                .then(res => {

                    if( res.data.isSuccess ){
                        helper.successToast(res.data.data);
                    }else{
                        helper.errorToast(res.data.data);
                    }
                    base.closeModel('refresh');
                })
                .catch(err => {
                    console.log(err);
                    base.errors = err.response.data;
                })
                .finally(res => {
                    base.is_disable = false;
                    helper.stopLoading();
                });
        },
        deliveryAnchorsOpt(){
            this.delivery_anchors_opt = [];
            let deliveryI = this.form.delivery_interval;
            if( deliveryI == 'month' ){
                for( var i =0; i<=30; i++ ){
                    this.delivery_anchors_opt.push(i);
                }
            }else if( deliveryI == 'week' ){
                this.delivery_anchors_opt = ['','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
            }else if( deliveryI == 'year' ){
                this.delivery_anchors_opt = ['','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            }

            $("#billing-interval option[value*='day']").prop('disabled',false);
            $("#billing-interval option[value*='week']").prop('disabled',false);
            $("#billing-interval option[value*='month']").prop('disabled',false);
            if( deliveryI == 'week' ){
                $("#billing-interval option[value*='day']").prop('disabled',true);
                this.form.billing_interval = 'week';
            }else if( deliveryI == 'month' ){
                $("#billing-interval option[value*='day']").prop('disabled',true);
                $("#billing-interval option[value*='week']").prop('disabled',true);
                this.form.billing_interval = 'month';
            }else if( deliveryI == 'year' ){
                $("#billing-interval option[value*='day']").prop('disabled',true);
                $("#billing-interval option[value*='week']").prop('disabled',true);
                $("#billing-interval option[value*='month']").prop('disabled',true);
                this.form.billing_interval = 'year';
            }
        },
        async getData(){
            helper.startLoading();
            let base = this;
            await axios.get('/get-country')
                .then(res => {
                    base.countries = res.data.data.countries;
                    base.states = res.data.data.states;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        }
    },
    watch: {
        showEditDetailsModel(newVal, oldVal) {
            if (newVal === true) {
               this.form = this.editData;
                $(editDetails).slideDown();
                if( this.editType == 'address' ){
                    this.getData();
                }
            } else {
                $(editDetails).slideUp();
            }
        },
    },
    mounted() {
        editDetails = document.getElementById("editDetails");
    },
}
</script>
655za
