<template>
    <div class="">
        <div class="Polaris-Card__Section subscribers-main-class">
            <div class="subscriber-tab-main subscription-page">
                <div class="subscribers-details-enter">
                    <div class="subscribers-details-enter-inner">
                        <div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--hasActionMenu">
                            <div class="Polaris-Page-Header__MainContent">
                                <div class="Polaris-Page-Header__TitleActionMenuWrapper">
                                    <div>
                                        <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
                                            <div class="Polaris-Header-Title">
                                                <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
                                                    {{(form.id) ? 'Edit' : 'Add'}}  Plan in {{planGroup.name}}</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-form-main">
                            <div class="plan-card my-5">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="left-side-info">
                                            <div class="subscriptions-main-info-start">
                                                <div>
                                                    <h6 class="boxes-title mb-20">Names and Options</h6>
                                                </div>
                                                <div class="plan-form-start">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-12 col-md-6 margin-bottom-class">
                                                                <label class="label-main-class">Public name
                                                                    <i class="far fa-question-circle" aria-hidden="true" :tooltip="help.plan_name" v-tooltip.top-center="help.plan_name"></i>
                                                                </label>
                                                                <div class="modal-input-bottom">
                                                                    <div class="Polaris-Connected">
                                                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                                <input id="planName" class="Polaris-TextField__Input" aria-labelledby="planNameLabel"  aria-invalid="false"
                                                                                  aria-multiline="false"
                                                                                  placeholder="e.g. Monthly Subscription"
                                                                                  v-model="form.name"
                                                                                >
                                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                                            </div>
                                                                            <error-msg v-if="errors['data.name']" :msg="errors['data.name'][0]"></error-msg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 margin-bottom-class">
                                                                <label class="label-main-class">Plan description <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.plan_desc"></i></label>
                                                                <div class="modal-input-bottom">
                                                                    <div class="Polaris-Connected">
                                                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                                <input id="plan_description" class="Polaris-TextField__Input" aria-labelledby="plan_descriptionLabel" aria-invalid="false" aria-multiline="false" placeholder="e.g. Delivered every 30 days. Cancel anytime." v-model="form.description">
                                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                                            </div>
                                                                            <error-msg v-if="errors['data.description']" :msg="errors['data.description'][0]"></error-msg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6" v-for="(option, oindex) in planGroup.options">
                                                                <label class="label-main-class">{{option}} (Option {{ (oindex+1)}}) <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.delivery_option"></i></label>
                                                                <div class="modal-input-bottom">
                                                                    <div class="Polaris-Connected">
                                                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                                <input id="PolarisTextField8" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" placeholder="e.g. 1 Month" v-model="form.options[oindex]">
                                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                                            </div>
                                                                            <error-msg v-if="errors[`data.options.${oindex}`]" :msg="errors[`data.options.${oindex}`][0]"></error-msg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="plan-card mb-5">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="left-side-info">
                                            <div class="subscriptions-main-info-start">
                                                <div>
                                                    <h6 class="boxes-title mb-20">Billing and Recurrences</h6>
                                                </div>
                                                <div class="plan-form-start">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-12 col-md-6 margin-bottom-class">
                                                                <label class="label-main-class">Bill every
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.bill_every"></i>
                                                                </label>
                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="billing_interval_count" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" v-model="form.billing_interval_count">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                        <div class="Polaris-Labelled--hidden">
                                                                            <div class="Polaris-Select">
                                                                                <select id="billing-interval" class="Polaris-Select__Input" aria-invalid="false" v-model="form.billing_interval" @change="deliveryAnchorsOpt()">
                                                                                    <option :value="item.value" v-for="(item, index) in interval">{{item.label}}</option>
                                                                                </select>
                                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                    <span class="Polaris-Select__SelectedOption">
                                                                                        <span class="text-capitalize">{{form.billing_interval}}</span>(s)</span>
                                                                                    <span class="Polaris-Select__Icon">
                                                                                      <span class="Polaris-Icon">
                                                                                         <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                            <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                                         </svg>
                                                                                      </span>
                                                                                   </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 margin-bottom-class">
                                                                <label v-if="form.is_prepaid" class="label-main-class">Deliver every
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.delivery_every"></i>
                                                                </label>
                                                                <div v-if="form.is_prepaid" class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="delivery_interval_count" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false"  v-model="form.delivery_interval_count">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                        <div class="Polaris-Labelled--hidden">
                                                                            <div class="Polaris-Select">
                                                                                <select id="delivery-interval" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_interval" @change="deliveryAnchorsOpt()">
                                                                                    <option :value="item.value" v-for="(item, index) in interval">{{item.label}}</option>
                                                                                </select>
                                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                    <span class="Polaris-Select__SelectedOption"><span class="text-capitalize">{{form.delivery_interval}}</span>(s)</span>
                                                                                    <span class="Polaris-Select__Icon">
                                                                                      <span class="Polaris-Icon">
                                                                                         <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                            <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                                         </svg>
                                                                                      </span>
                                                                                   </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="label-main-class">
                                                                    <label class="Polaris-Choice" for="PolarisCheckbox2">
                                                                       <span class="Polaris-Choice__Control">
                                                                          <span class="Polaris-Checkbox">
                                                                             <input id="PolarisCheckbox2" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" v-model="form.is_prepaid"><span class="Polaris-Checkbox__Backdrop"></span>
                                                                             <span class="Polaris-Checkbox__Icon">
                                                                                <span class="Polaris-Icon">
                                                                                   <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                      <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                                                   </svg>
                                                                                </span>
                                                                             </span>
                                                                          </span>
                                                                       </span>
                                                                        <span class="Polaris-Choice__Label">Make this a prepaid plan</span>
                                                                    </label>
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.is_prepaid"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="label-main-class" v-if="form.is_prepaid">
                                                                    <label class="Polaris-Choice" for="PolarisCheckbox3">
                                                                       <span class="Polaris-Choice__Control">
                                                                          <span class="Polaris-Checkbox">
                                                                             <input id="PolarisCheckbox3" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" v-model="form.prepaid_renew"><span class="Polaris-Checkbox__Backdrop"></span>
                                                                             <span class="Polaris-Checkbox__Icon">
                                                                                <span class="Polaris-Icon">
                                                                                   <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                      <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                                                   </svg>
                                                                                </span>
                                                                             </span>
                                                                          </span>
                                                                       </span>
                                                                        <span class="Polaris-Choice__Label">Renew prepaid order each billing cycle</span>
                                                                    </label>
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.prepaid_renew"></i>
                                                                </div>
                                                            </div>
                                                            <div class="border-hr"></div>


<!--                                                    Recur order on-->
                                                            <div class="col-12 col-md-6 margin-bottom-class">
                                                                <label class="label-main-class">Recur order on
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.recur_order"></i>
                                                                </label>
                                                                <div class="Polaris-Select">
                                                                    <select id="recur_order" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_intent">
                                                                        <option value="The initial day of purchase">The initial day of purchase</option>
                                                                        <option value="A fixed day each delivery cycle">A fixed day each delivery cycle</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">{{form.delivery_intent}}</span>
                                                                        <span class="Polaris-Select__Icon">
                                                                             <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
                                                                                </svg>
                                                                          </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 margin-bottom-class"></div>
                                                            <div class="col-12 col-md-4">
                                                                <label class="label-main-class">Recur order on
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.recur_order"></i>
                                                                </label>
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false">
                                                                        <option value="today">A fixed day each cycle</option>
                                                                        <option value="yesterday">A fixed day each cycle</option>
                                                                        <option value="lastWeek">A fixed day each cycle</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">A fixed day each cycle</span>
                                                                        <span class="Polaris-Select__Icon">
												         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
															</svg>
												      </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>

<!--                                                    Fixed day/delivery_anchors-->
                                                            <div v-if="(form.is_prepaid && form.delivery_intent == 'A fixed day each delivery cycle' && form.delivery_interval != 'day') || (!form.is_prepaid && form.delivery_intent == 'A fixed day each delivery cycle' && form.billing_interval != 'day')" class="col-12 col-md-2">
                                                                <label class="label-main-class">Fixed day
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.fixed_day"></i>
                                                                </label>
                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Select">
                                                                        <select id="delivery_anchors" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_anchor_day">
                                                                            <option v-for="(item, index) in delivery_anchors_opt" :value="index" v-if="item != 0 || item != ''">{{item}}</option>
                                                                        </select>
                                                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                                                            <span class="Polaris-Select__SelectedOption">{{delivery_anchors_opt[form.delivery_anchor_day]}}</span>
                                                                            <span class="Polaris-Select__Icon">
														         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
																	</svg>
														      </span>
                                                                        </div>
                                                                        <div class="Polaris-Select__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

<!--                                                            cut off period-->
                                                            <div  v-if="form.delivery_intent == 'A fixed day each delivery cycle'" class="col-12 col-md-2">
                                                                <label class="label-main-class">Cutoff period
                                                                    <i class="far fa-question-circle" aria-hidden="true"  v-tooltip.top-center="help.cutoff_period"></i>
                                                                </label>
                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="cutoff_period" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField6Label" aria-invalid="false" aria-multiline="false" v-model="form.delivery_cutoff">
                                                                            <div class="Polaris-TextField__Spinner" aria-hidden="true">
                                                                                <div role="button" class="Polaris-TextField__Segment" tabindex="-1" @click="form.delivery_cutoff++">
                                                                                    <div class="Polaris-TextField__SpinnerIcon">
                                                                                    <span class="Polaris-Icon">
                                                                                       <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                          <path d="M15 12l-5-5-5 5z"></path>
                                                                                       </svg>
                                                                                    </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div role="button" class="Polaris-TextField__Segment" tabindex="-1" @click="form.delivery_cutoff--">
                                                                                    <div class="Polaris-TextField__SpinnerIcon">
                                                                                    <span class="Polaris-Icon">
                                                                                       <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                          <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                                       </svg>
                                                                                    </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="number-field-right-label"><span>days</span></div>
                                                                </div>
                                                            </div>

<!--                                                    delivery_pre_cutoff_behaviour/Action if first order within cutoff period-->
                                                            <div  v-if="form.delivery_intent == 'A fixed day each delivery cycle'" class="col-12 col-md-4">
                                                                <label class="label-main-class">If first order within cutoff period <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.first_order_within_cutoff_period"></i></label>
                                                                <div class="Polaris-Select">
                                                                    <select id="delivery_pre_cutoff_behaviour" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_pre_cutoff_behaviour">
                                                                        <option value="NEXT">Wait until fixed day for this order</option>
                                                                        <option value="ASAP">Send immediately and again on fixed day</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption" v-if="form.delivery_pre_cutoff_behaviour == 'NEXT'">Wait until fixed day for this order</span>
                                                                        <span class="Polaris-Select__SelectedOption" v-else>Send immediately and again on fixed day</span>
                                                                        <span class="Polaris-Select__Icon">
                                                                         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
                                                                            </svg>
                                                                      </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="plan-card mb-5">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="left-side-info">
                                            <div class="subscriptions-main-info-start">
                                                <div>
                                                    <h6 class="boxes-title mb-20">Discount and Order Limits</h6>
                                                </div>
                                                <div class="plan-form-start">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-12 col-md-6 margin-bottom-class">
                                                                <label class="label-main-class">Subscription discount
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.sub_discount"></i>
                                                                </label>
                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="pricing_adjustment_value" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" v-model="form.pricing_adjustment_value">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                        <div class="Polaris-Labelled--hidden">
                                                                            <div class="Polaris-Select">
                                                                                <select id="pricing_adjustment_type" class="Polaris-Select__Input" aria-invalid="false" v-model="form.pricing_adjustment_type">
                                                                                    <option value="%">%</option>
                                                                                    <option :value="shop.currency">{{shop.currency}}</option>
                                                                                </select>
                                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                    <span class="Polaris-Select__SelectedOption">{{form.pricing_adjustment_type}}</span>
                                                                                    <span class="Polaris-Select__Icon">
                                                                                      <span class="Polaris-Icon">
                                                                                         <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                            <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                                         </svg>
                                                                                      </span>
                                                                                   </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-4 margin-bottom-class">
                                                                <label class="label-main-class">Discount on future orders</label>
                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="pricing2_adjustment_value" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" v-model="form.pricing2_adjustment_value">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                        <div class="Polaris-Labelled--hidden">
                                                                            <div class="Polaris-Select">
                                                                                <select id="pricing2_adjustment_type" class="Polaris-Select__Input" aria-invalid="false" v-model="form.pricing2_adjustment_type">
                                                                                    <option value="%">%</option>
                                                                                    <option :value="shop.currency">{{shop.currency}}</option>
                                                                                </select>
                                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                    <span class="Polaris-Select__SelectedOption">{{form.pricing2_adjustment_type}}</span>
                                                                                    <span class="Polaris-Select__Icon">
                                                                                      <span class="Polaris-Icon">
                                                                                         <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                            <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                                         </svg>
                                                                                      </span>
                                                                                   </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-2">
                                                                <label class="label-main-class">Start after
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.discount_on_future_order"></i>
                                                                </label>
                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="PolarisTextField6" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField6Label" aria-invalid="false" aria-multiline="false" v-model="form.pricing2_after_cycle">
                                                                            <div class="Polaris-TextField__Spinner" aria-hidden="true">
                                                                                <div role="button" class="Polaris-TextField__Segment" tabindex="-1" @click="form.pricing2_after_cycle++">
                                                                                    <div class="Polaris-TextField__SpinnerIcon">
                                                                                    <span class="Polaris-Icon">
                                                                                       <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                          <path d="M15 12l-5-5-5 5z"></path>
                                                                                       </svg>
                                                                                    </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div role="button" class="Polaris-TextField__Segment" tabindex="-1" @click="form.pricing2_after_cycle--">
                                                                                    <div class="Polaris-TextField__SpinnerIcon">
                                                                                        <span class="Polaris-Icon">
                                                                                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                                              <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                                                           </svg>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="number-field-right-label"><span>orders</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <label class="label-main-class">Minimum number of orders
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.min_orders"></i>
                                                                </label>
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false">
                                                                        <option value="today">A fixed day each cycle</option>
                                                                        <option value="yesterday">A fixed day each cycle</option>
                                                                        <option value="lastWeek">A fixed day each cycle</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">No minimum</span>
                                                                        <span class="Polaris-Select__Icon">
												         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
															</svg>
												      </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <label class="label-main-class">Maximum number of orders
                                                                    <i class="far fa-question-circle" aria-hidden="true" v-tooltip.top-center="help.max_orders"></i>
                                                                </label>
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false">
                                                                        <option value="today">A fixed day each cycle</option>
                                                                        <option value="yesterday">A fixed day each cycle</option>
                                                                        <option value="lastWeek">A fixed day each cycle</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true">
                                                                        <span class="Polaris-Select__SelectedOption">No maximum</span>
                                                                        <span class="Polaris-Select__Icon">
												         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
															</svg>
												      </span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn-class">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <button  v-if="this.form.id" class="Polaris-Button Polaris-Button--destructive" type="button">
                                            <span class="Polaris-Button__Content">
                                                <span class="Polaris-Button__Text">Delete Plan</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="text-right">
                                            <button class="Polaris-Button" type="button">
                                                <span class="Polaris-Button__Content">
                                                    <span class="Polaris-Button__Text">Cancel</span>
                                                </span>
                                            </button>
                                            <button type="button" class="Polaris-Button Polaris-Button--primary Simplee-Button--primary ml-3" @click="sendForm()" :class="{'Polaris-Button--disabled' : ( is_disable )}">
                                                <span class="Polaris-Button__Content">
                                                    <span class="Polaris-Button__Text">{{btnTxt}} Plan</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ErrorMsg from "../../shopify/ErrorMsg";
import helper from "../../../helper";

export default {
    components:{
        ErrorMsg
    },
    name: 'AddEditPlan',
    data(){
        return{
            interval: [
                {label: 'Day(s)', value: 'day'},
                {label: 'Week(s)', value: 'week'},
                {label: 'Month(s)', value: 'month'},
                {label: 'Year(s)', value: 'year'},
            ],
            planGroupName: '',
            form: '',
            planGroup: '',
            is_disable: false,
            errors: [],
            btnTxt: 'Add',
            delivery_anchors_opt: [],
            help: [],
            shop: [],
        }
    },
    methods:{
        init(){
            if( typeof this.$route.params.planId != 'undefined'){
                this.form.id = this.$route.params.planId;
                this.form.ss_plan_group_id = this.$route.params.planGroupId;
            }else{
                let id = this.$route.params.id;
                let params = id.split("/");
                this.form.id = params[0];
                this.form.ss_plan_group_id = params[1];
            }
            this.fillHelpBubble();
            this.getData();

            // (  this.form.id != '' ) ? this.getData() : this.initForm(this.form.ss_plan_group_id);
            this.btnTxt = (  this.form.id != '' ) ? 'Save' : 'Add';
        },
        initForm(group_id){
            this.form = {
                'id': '',
                'ss_plan_group_id': group_id,
                'name': '',
                'description': '',
                'position': '',
                'options': [],
                'is_prepaid': 0,
                'prepaid_renew': 0,
                'billing_interval': 'day',
                'billing_interval_count': 1,
                'billing_min_cycles': '',
                'billing_max_cycles': '',
                'delivery_interval': 'day',
                'delivery_interval_count': 1,
                'delivery_cutoff': 1,
                'delivery_pre_cutoff_behaviour': 'NEXT',
                'pricing_adjustment_type': '%',
                'pricing_adjustment_value': '',
                'delivery_anchor_day': 1, // fixed day
                'delivery_intent': 'The initial day of purchase', // recur order on
                'pricing2_adjustment_type': '%',
                'pricing2_adjustment_value': 1,
                'pricing2_after_cycle': 0,
            };
        },
        fillHelpBubble(){
            this.help = {
                'plan_name': 'The name that will appear under the product in the cart, at checkout, and when viewing the subscription on Shopify',
                'plan_desc': 'On our default widgets, the description will be displayed when the plan is selected',
                'delivery_option': 'Any option you configured when creating this group will be available here. These will be used when creating the widget on your product page.',
                'bill_every': 'How often should subscribers be billed? For a monthly subscription, choose 1 month',
                'delivery_every': 'For prepaid subscriptions, this is how often orders will be created. To create a prepaid monthly subscription where users pay for 3 orders upfront, set Bill every to 3 months, and Deliver every to 1 month.',
                'is_prepaid': 'This will let you choose different billing and delivery days. Make sure your billing interval is greater than your delivery interval',
                'prepaid_renew': 'Should prepaid orders continue to renew each billing cycle? If not selected, the subscription will expire after the first billing cycle',
                'recur_order': 'If you want to have orders created on the same day each cycle (e.g. 15th of the month, or every Monday) then choose a fixed day each cycle',
                'fixed_day': 'Which day of the cycle should all recurring orders be created?',
                'cutoff_period': 'This is the number of days before the fixed day when orders will be included in the next cycle.',
                'first_order_within_cutoff_period': 'Should the order be fulfilled immediately, or should it wait until the fixed date?',
                'sub_discount': 'Do you want to offer an ongoing discount for subscribing?',
                'discount_on_future_order': 'Optionally, change the subscription discount after a set number of orders',
                'min_orders': 'If set, don’t let cusotmers cancel until they’re completed this number or orders',
                'max_orders': 'Have the subscription expire after a set number of orders',
            }
        },
        closeModel(action) {
            this.errors = [];
            this.initForm();
            this.$emit('update', 'add-plan', action);

            $("#billing-interval option[value*='day']").prop('disabled',false);
            $("#billing-interval option[value*='week']").prop('disabled',false);
            $("#billing-interval option[value*='month']").prop('disabled',false);
        },
        async getData(){
            let base = this;
            helper.startLoading();
            await axios.get('/plan.edit/' + this.form.ss_plan_group_id + '/' +  this.form.id)
                .then(res => {
                    base.form = (base.form.id) ? res.data.data.plan : base.form;
                    base.planGroup = res.data.data.planGroup;
                    base.planGroup.options = base.planGroup.options.split(',');
                    base.shop = res.data.data.shop;

                    if( !base.form.id ){
                        let len = base.planGroup.options.length;
                        for( var i=0; i<len; i++ ){
                            base.form.options.push('');
                        }
                    }else{
                        let len = base.planGroup.options.length;
                        base.form.options = [];
                        for( var i=0; i<len; i++ ){
                            base.form.options.push('');
                        }
                        if (  base.form.options != null && base.form.options  != '' ){
                            base.form.options.length = base.form.options.split(',');
                        } else{
                            let len = base.planGroup.options.length;
                            for( var i=0; i<len; i++ ){
                                base.form.options.push('');
                            }
                        }
                    }

                    base.deliveryAnchorsOpt();
                    if( base.form.delivery_interval == 'month' || base.form.delivery_interval == 'week' ){
                        base.delivery_anchor_day = base.form.delivery_anchor_day;
                    }else if( base.form.delivery_interval == 'year' ){
                        base.delivery_anchor_day = base.form.delivery_anchor_month;
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async sendForm(){
            let base = this;
            base.is_disable = true;
            helper.startLoading();
            await axios.post('plan', {data: base.form})
                .then(res => {
                    if( res.data.isSuccess ){
                        helper.successToast(res.data.data);
                    }else{
                        helper.errorToast(res.data.data);
                    }
                    base.closeModel('refresh');
                })
                .catch(err => {
                    console.log(err);
                    base.errors = err.response.data;
                })
                .finally(res => {
                    base.is_disable = false;
                    helper.stopLoading();
                });
        },
        deliveryAnchorsOpt(){
            this.delivery_anchors_opt = [];
            let deliveryI = ( this.form.is_prepaid ) ? this.form.delivery_interval : this.form.billing_interval;
            if( deliveryI == 'month' ){
                for( var i =0; i<=30; i++ ){
                    this.delivery_anchors_opt.push(i);
                }
            }else if( deliveryI == 'week' ){
                this.delivery_anchors_opt = ['','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
            }else if( deliveryI == 'year' ){
                this.delivery_anchors_opt = ['','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            }

            this.form.delivery_anchor_day = 1;

            // $("#billing-interval option[value*='day']").prop('disabled',false);
            // $("#billing-interval option[value*='week']").prop('disabled',false);
            // $("#billing-interval option[value*='month']").prop('disabled',false);
            // if( deliveryI == 'week' ){
            //     $("#billing-interval option[value*='day']").prop('disabled',true);
            //     this.form.billing_interval = 'week';
            // }else if( deliveryI == 'month' ){
            //     $("#billing-interval option[value*='day']").prop('disabled',true);
            //     $("#billing-interval option[value*='week']").prop('disabled',true);
            //     this.form.billing_interval = 'month';
            // }else if( deliveryI == 'year' ){
            //     $("#billing-interval option[value*='day']").prop('disabled',true);
            //     $("#billing-interval option[value*='week']").prop('disabled',true);
            //     $("#billing-interval option[value*='month']").prop('disabled',true);
            //     this.form.billing_interval = 'year';
            // }
        }
    },
    mounted() {
        this.initForm('');
        this.init();
    },
}
</script>

<style scoped>

</style>
