<template>
    <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true" id="addProduct"
         style="display: none;">
        <div>
            <div role="dialog" aria-labelledby="Polarismodal-header-2" tabindex="-1" class="Polaris-Modal-Dialog">
                <div class="Polaris-Modal-Dialog__Modal">
                    <div class="Polaris-Modal-Header">
                        <div id="Polarismodal-header16" class="Polaris-Modal-Header__Title">
                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Select product</h2>
                        </div>
                        <button class="Polaris-Modal-CloseButton" aria-label="Close" data-dismiss="modal" @click="closeModel('')">
		                     <span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored">
		                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
		                           <path
                                       d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"
                                       fill-rule="evenodd"></path>
		                        </svg>
		                     </span>
                        </button>
                    </div>
                    <div class="Polaris-Modal__BodyWrapper">
                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical"
                             data-polaris-scrollable="true">
                            <section class="Polaris-Modal-Section">
                                <div class="Polaris-Stack Polaris-Stack--vertical">
                                    <div class="Polaris-Stack__Item">
                                        <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList3"
                                                  aria-invalid="false">
                                            <div class="edit-details-modal">

                                                <div class="Polaris-Tabs__Wrapper">
                                                    <ul role="tablist" class="Polaris-Tabs Polaris-Tabs--fitted">
                                                        <li class="Polaris-Tabs__TabContainer">
                                                            <button id="all-customers-fitted" role="tab" type="button"
                                                                    tabindex="0"
                                                                    class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected"
                                                                    aria-selected="true"
                                                                    aria-controls="all-customers-fitted-content"
                                                                    aria-label="All customers"><span
                                                                class="Polaris-Tabs__Title">All</span></button>
                                                        </li>
                                                        <li class="Polaris-Tabs__TabContainer">
                                                            <button id="accepts-marketing-fitted" role="tab"
                                                                    type="button" tabindex="-1"
                                                                    class="Polaris-Tabs__Tab" aria-selected="false"
                                                                    aria-controls="accepts-marketing-fitted-Ccontent">
                                                                <span
                                                                    class="Polaris-Tabs__Title">Accepts marketing</span>
                                                            </button>
                                                        </li>
                                                        <li class="Polaris-Tabs__DisclosureTab">
                                                            <div>
                                                                <button type="button"
                                                                        class="Polaris-Tabs__DisclosureActivator"
                                                                        aria-label="More tabs" tabindex="0"
                                                                        aria-controls="Polarispopover4"
                                                                        aria-owns="Polarispopover4"
                                                                        aria-expanded="false">
											               <span class="Polaris-Tabs__Title">
											                  <span class="Polaris-Icon">
											                     <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                      focusable="false" aria-hidden="true">
											                        <path
                                                                        d="M6 10a2 2 0 1 1-4.001-.001A2 2 0 0 1 6 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 12 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 18 10z"
                                                                        fill-rule="evenodd"></path>
											                     </svg>
											                  </span>
											               </span>
                                                                </button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="Polaris-Tabs Polaris-Tabs__TabMeasurer">
                                                        <li class="Polaris-Tabs__TabContainer">
                                                            <button id="all-customers-fittedMeasurer" role="tab"
                                                                    type="button" tabindex="-1"
                                                                    class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected"
                                                                    aria-selected="true"><span
                                                                class="Polaris-Tabs__Title">All</span></button>
                                                        </li>
                                                        <li class="Polaris-Tabs__TabContainer">
                                                            <button id="accepts-marketing-fittedMeasurer" role="tab"
                                                                    type="button" tabindex="-1"
                                                                    class="Polaris-Tabs__Tab" aria-selected="false">
                                                                <span
                                                                    class="Polaris-Tabs__Title">Accepts marketing</span>
                                                            </button>
                                                        </li>
                                                        <button type="button" class="Polaris-Tabs__DisclosureActivator"
                                                                aria-label="More tabs">
											         <span class="Polaris-Tabs__Title">
											            <span class="Polaris-Icon">
											               <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                focusable="false" aria-hidden="true">
											                  <path
                                                                  d="M6 10a2 2 0 1 1-4.001-.001A2 2 0 0 1 6 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 12 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 18 10z"
                                                                  fill-rule="evenodd"></path>
											               </svg>
											            </span>
											         </span>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="select-product-search-main">

                                                    <div class="row">

                                                        <div class="col-lg-6">

                                                            <div class="Polaris-Connected select-product-search">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div class="Polaris-TextField">
                                                                        <div class="Polaris-TextField__Prefix"
                                                                             id="PolarisTextField2Prefix">
						                                             <span class="Polaris-Filters__SearchIcon">
						                                                <span class="Polaris-Icon">
						                                                   <svg viewBox="0 0 20 20"
                                                                                class="Polaris-Icon__Svg"
                                                                                focusable="false" aria-hidden="true">
						                                                      <path
                                                                                  d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8m9.707 4.293l-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414"
                                                                                  fill-rule="evenodd"></path>
						                                                   </svg>
						                                                </span>
						                                             </span>
                                                                        </div>
                                                                        <input id="PolarisTextField2"
                                                                               placeholder="Search products"
                                                                               class="Polaris-TextField__Input Polaris-TextField__Input--hasClearButton"
                                                                               aria-labelledby="PolarisTextField2Label PolarisTextField2Prefix"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false" value="">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="Polaris-Tabs__Panel" id="all-customers-fitted-content"
                                                     role="tabpanel" aria-labelledby="all-customers-fitted"
                                                     tabindex="-1">

                                                    <div class="Polaris-DataTable">
                                                        <div class="Polaris-DataTable__ScrollContainer">
                                                            <table class="Polaris-DataTable__Table">
                                                                <thead>
                                                                <tr>
                                                                    <th data-polaris-header-cell="true"
                                                                        class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header"
                                                                        scope="col">Product
                                                                    </th>
                                                                    <th data-polaris-header-cell="true"
                                                                        class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric"
                                                                        scope="col">Inventory
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr class="Polaris-DataTable__TableRow">
                                                                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--firstColumn"
                                                                        scope="row">
                                                                        <label class="Polaris-Choice" for="Product1">
													               		<span class="Polaris-Choice__Control">
													               			<span class="Polaris-RadioButton">
													               				<input id="Product1" name="Product"
                                                                                       type="radio"
                                                                                       class="Polaris-RadioButton__Input"
                                                                                       aria-describedby="disabledHelpText"
                                                                                       value="">
													               				<span
                                                                                    class="Polaris-RadioButton__Backdrop"></span>
													               				<span
                                                                                    class="Polaris-RadioButton__Icon"></span>
													               			</span>
													               		</span>
                                                                            <div class="select-product-img">

                                                                                <img src="images/static/thumbnil.png"
                                                                                     alt="product">

                                                                            </div>
                                                                            <span class="Polaris-Choice__Label">Product 1</span>
                                                                        </label>
                                                                    </th>
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">
                                                                        N/A
                                                                    </td>
                                                                </tr>
                                                                <tr class="Polaris-DataTable__TableRow">
                                                                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--firstColumn"
                                                                        scope="row">
                                                                        <label class="Polaris-Choice" for="Product2">
													               		<span class="Polaris-Choice__Control">
													               			<span class="Polaris-RadioButton">
													               				<input id="Product2" name="Product"
                                                                                       type="radio"
                                                                                       class="Polaris-RadioButton__Input"
                                                                                       aria-describedby="disabledHelpText"
                                                                                       value="">
													               				<span
                                                                                    class="Polaris-RadioButton__Backdrop"></span>
													               				<span
                                                                                    class="Polaris-RadioButton__Icon"></span>
													               			</span>
													               		</span>
                                                                            <div class="select-product-img">

                                                                                <img src="images/static/thumbnil.png"
                                                                                     alt="product">

                                                                            </div>
                                                                            <span class="Polaris-Choice__Label">Product 2</span>
                                                                        </label>
                                                                    </th>
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">
                                                                        N/A
                                                                    </td>
                                                                </tr>
                                                                <tr class="Polaris-DataTable__TableRow">
                                                                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--firstColumn"
                                                                        scope="row">
                                                                        <label class="Polaris-Choice" for="Product3">
													               		<span class="Polaris-Choice__Control">
													               			<span class="Polaris-RadioButton">
													               				<input id="Product3" name="Product"
                                                                                       type="radio"
                                                                                       class="Polaris-RadioButton__Input"
                                                                                       aria-describedby="disabledHelpText"
                                                                                       value="">
													               				<span
                                                                                    class="Polaris-RadioButton__Backdrop"></span>
													               				<span
                                                                                    class="Polaris-RadioButton__Icon"></span>
													               			</span>
													               		</span>
                                                                            <div class="select-product-img">

                                                                                <img src="images/static/thumbnil.png"
                                                                                     alt="product">

                                                                            </div>
                                                                            <span class="Polaris-Choice__Label">Product 3</span>
                                                                        </label>
                                                                    </th>
                                                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">
                                                                        N/A
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="Polaris-Modal-Footer">
                        <div class="Polaris-Modal-Footer__FooterContent">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                    <nav class="Polaris-Pagination" aria-label="Pagination">
                                        <button type="button"
                                                class="Polaris-Pagination__Button Polaris-Pagination__PreviousButton"
                                                aria-label="Previous">
								         <span class="Polaris-Icon">
								            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                 aria-hidden="true">
								               <path
                                                   d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2"
                                                   fill-rule="evenodd"></path>
								            </svg>
								         </span>
                                        </button>
                                        <button type="button"
                                                class="Polaris-Pagination__Button Polaris-Pagination__NextButton"
                                                aria-label="Next">
								         <span class="Polaris-Icon">
								            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                 aria-hidden="true">
								               <path
                                                   d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414"
                                                   fill-rule="evenodd"></path>
								            </svg>
								         </span>
                                        </button>
                                    </nav>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button" data-dismiss="modal"><span
                                                class="Polaris-Button__Content"><span
                                                class="Polaris-Button__Text">Basic</span></span></button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button Polaris-Button--primary"><span
                                                class="Polaris-Button__Content"><span class="Polaris-Button__Text">Select</span></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
var addProduct = "";
import {ResourcePicker} from '@shopify/app-bridge/actions';
export default {
    name: 'AddProduct',
    props: ['showModel', 'planGroupId'],
    methods: {
        closeModel(action) {
            this.$emit('update', 'addproduct', action);
        },
        openPicker(){
            const Picker = ResourcePicker.create(shopify_app_bridge, {
                resourceType: ResourcePicker.ResourceType.Product,
                showVariants: true
            });
            Picker.dispatch(ResourcePicker.Action.OPEN);
            Picker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
                console.log(selection);
            });
        }
    },
    watch: {
        showModel(newVal, oldVal) {
            if (newVal === true) {
                this.openPicker();
                $(addProduct).slideDown();
            } else {
                $(addProduct).slideUp();
            }
        },
    },
    mounted() {
        addProduct = document.getElementById("addProduct");
    },
}
</script>
