<template>
    <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true" id="addPlan" style="display: none;">
        <div>
            <div role="dialog" aria-labelledby="Polarismodal-header3" tabindex="-1" class="Polaris-Modal-Dialog">
                <div class="Polaris-Modal-Dialog__Modal">
                    <div class="Polaris-Modal-Header">
                        <div id="Polarismodal-header16" class="Polaris-Modal-Header__Title">
                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall" v-if="form.id == ''">Add plan</h2>
                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall" v-else>Edit plan</h2>
                        </div>
                        <button class="Polaris-Modal-CloseButton" aria-label="Close" data-dismiss="modal" @click="closeModel('')">
		                     <span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored">
		                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
		                           <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path>
		                        </svg>
		                     </span>
                        </button>
                    </div>
                    <div class="Polaris-Modal__BodyWrapper">
                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                            <section class="Polaris-Modal-Section">
                                <div class="Polaris-Stack Polaris-Stack--vertical">
                                    <div class="Polaris-Stack__Item">
                                        <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList3" aria-invalid="false">

                                            <div class="add-plan-modal">

                                                <div class="row">
<!--                                                    name-->
                                                    <div class="col-lg-6  col-md-6">

                                                        <label class="label-main-class">Public name <i class="far fa-question-circle" aria-hidden="true"></i></label>
                                                        <div class="modal-input-bottom">

                                                            <div class="Polaris-Connected">
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="public_name" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.name">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                    <error-msg v-if="errors['data.name']" :msg="errors['data.name'][0]"></error-msg>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
<!--                                                    description-->
                                                    <div class="col-lg-6 col-md-6">

                                                        <label class="label-main-class">Public description <i class="far fa-question-circle" aria-hidden="true"></i></label>
                                                        <div class="modal-input-bottom">

                                                            <div class="Polaris-Connected">
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="public_desc" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.description">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                    <error-msg v-if="errors['data.description']" :msg="errors['data.description'][0]"></error-msg>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
<!--                                                    Deliver every-->
                                                    <div class="col-lg-4 col-md-4">
                                                        <label class="label-main-class">Deliver every</label>
                                                        <div class="modal-input-bottom">
                                                            <div class="Polaris-Connected">
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="delivery_every" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" v-model="form.delivery_interval_count">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                    <div class="Polaris-Labelled--hidden">
                                                                        <div class="Polaris-Select">
                                                                            <select id="delivery-interval" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_interval" @change="deliveryAnchorsOpt()">
                                                                                <option :value="item.value" v-for="(item, index) in interval">{{item.label}}</option>
                                                                            </select>
                                                                            <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                <span class="Polaris-Select__SelectedOption"><span class="text-capitalize">{{form.delivery_interval}}</span>(s)</span>
                                                                                <span class="Polaris-Select__Icon">
													                        <span class="Polaris-Icon">
													                        	<svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
															                  		<path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
																                </svg>
																            </span>
													                     </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <error-msg v-if="errors['data.delivery_interval_count']" :msg="errors['data.delivery_interval_count'][0]"></error-msg>
                                                        </div>
                                                    </div>
<!--                                                    Bill every-->
                                                    <div class="col-lg-4 col-md-4">
                                                        <label class="label-main-class">Bill every</label>
                                                        <div class="modal-input-bottom">
                                                            <div class="Polaris-Connected">
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="bill_every_inteval_count" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" v-model="form.billing_interval_count">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                    <div class="Polaris-Labelled--hidden">
                                                                        <div class="Polaris-Select">
                                                                            <select id="billing-interval" class="Polaris-Select__Input" aria-invalid="false" v-model="form.billing_interval">
                                                                                <option :value="item.value" v-for="(item, index) in interval">{{item.label}}</option>
                                                                            </select>
                                                                            <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                <span class="Polaris-Select__SelectedOption"><span class="text-capitalize">{{form.billing_interval}}</span>(s)</span>
                                                                                <span class="Polaris-Select__Icon">
													                        <span class="Polaris-Icon">
													                        	<svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
															                  		<path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
																                </svg>
																            </span>
													                     </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <error-msg v-if="errors['data.billing_interval_count']" :msg="errors['data.billing_interval_count'][0]"></error-msg>
                                                        </div>

                                                    </div>

<!--                                                    discount-->
                                                    <div class="col-lg-4 col-md-4">

                                                        <label class="label-main-class">Discount (optional)</label>
                                                        <div class="modal-input-bottom">

                                                            <div class="Polaris-Connected">
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="discount" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField10Label" aria-invalid="false" aria-multiline="false" v-model="form.pricing_adjustment_value">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
                                                                    <div class="Polaris-Labelled--hidden">
                                                                        <div class="Polaris-Select">
                                                                            <select id="PolarisSelect4" class="Polaris-Select__Input" aria-invalid="false" v-model="form.pricing_adjustment_type">
                                                                                <option value="%">%</option>
                                                                                <option :value="shop.currency">{{shop.currency}}</option>
                                                                            </select>
                                                                            <div class="Polaris-Select__Content" aria-hidden="true">
                                                                                <span class="Polaris-Select__SelectedOption text-capitalize">{{form.pricing_adjustment_type}}</span>
                                                                                <span class="Polaris-Select__Icon">
													                        <span class="Polaris-Icon">
													                        	<svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
															                  		<path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
																                </svg>
																            </span>
													                     </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

<!--                                                    Recur order on-->
                                                    <div class="col-lg-6 col-md-6">
                                                        <label class="label-main-class">Recur order on</label>
                                                        <div class="modal-input-bottom">
                                                            <div class="Polaris-Select">
                                                                <select id="PolarisSelect10" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_intent">
                                                                    <option value="The initial day of purchase">The initial day of purchase</option>
                                                                    <option value="A fixed day each delivery cycle">A fixed day each delivery cycle</option>
                                                                </select>
                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                    <span class="Polaris-Select__SelectedOption">{{form.delivery_intent}}</span>
                                                                    <span class="Polaris-Select__Icon">
														         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
																	</svg>
														      </span>
                                                                </div>
                                                                <div class="Polaris-Select__Backdrop"></div>
                                                            </div>
                                                        </div>
                                                    </div>

<!--                                                    min orders-->
                                                    <div class="col-lg-6 col-md-6">

                                                        <div class="row">

                                                            <div class="col-lg-6 col-md-6">

                                                                <label class="label-main-class">Min. Orders</label>
                                                                <div class="modal-input-bottom">

                                                                    <div class="Polaris-Connected">
                                                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                                <input type="number" id="min-orders" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.billing_min_cycles">
                                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                                            </div>
                                                                            <error-msg v-if="errors['data.billing_min_cycles']" :msg="errors['data.billing_min_cycles'][0]"></error-msg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-6 col-md-6">

                                                                <label class="label-main-class">Max. Orders</label>
                                                                <div class="modal-input-bottom">

                                                                    <div class="Polaris-Connected">
                                                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                                <input type="number" id="max-orders" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField8Label" aria-invalid="false" aria-multiline="false" v-model="form.billing_max_cycles">
                                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                                            </div>
                                                                            <error-msg v-if="errors['data.billing_max_cycles']" :msg="errors['data.billing_max_cycles'][0]"></error-msg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

<!--                                                    Fixed day/delivery_anchors-->
                                                    <div class="col-lg-6 col-md-6 number-field-main" v-if="form.delivery_intent == 'A fixed day each delivery cycle'">

                                                        <div class="row">
<!--                                                            fixed day-->
                                                            <div v-if="form.delivery_interval != 'day'" class="col-lg-6 col-md-6">
                                                                <label class="label-main-class">Fixed day</label>
                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Select">
                                                                        <select id="delivery_anchors" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_anchor_day">
                                                                            <option v-for="(item, index) in delivery_anchors_opt" :value="index" v-if="item != 0 || item != ''">{{item}}</option>
                                                                        </select>
                                                                        <div class="Polaris-Select__Content" aria-hidden="true">
                                                                            <span class="Polaris-Select__SelectedOption">{{delivery_anchors_opt[form.delivery_anchor_day]}}</span>
                                                                            <span class="Polaris-Select__Icon">
														         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
																	</svg>
														      </span>
                                                                        </div>
                                                                        <div class="Polaris-Select__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                                <error-msg v-if="errors['data.delivery_anchors']" :msg="errors['data.delivery_anchors'][0]"></error-msg>
                                                            </div>
<!--                                                            cut off period-->
                                                            <div class="col-lg-6 col-md-6">

                                                                <label class="label-main-class">Cutoff period</label>
                                                                <div class="Polaris-Connected">
                                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="delivery_cutoff" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField6Label" aria-invalid="false" aria-multiline="false" v-model="form.delivery_cutoff">
                                                                            <div class="Polaris-TextField__Spinner" aria-hidden="true">
                                                                                <div role="button" class="Polaris-TextField__Segment" tabindex="-1" @click="form.delivery_cutoff++">
                                                                                    <div class="Polaris-TextField__SpinnerIcon">
														                        <span class="Polaris-Icon">
														                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
														                              <path d="M15 12l-5-5-5 5z"></path>
														                           </svg>
														                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div role="button" class="Polaris-TextField__Segment" tabindex="-1" @click="form.delivery_cutoff--">
                                                                                    <div class="Polaris-TextField__SpinnerIcon">
														                        <span class="Polaris-Icon">
														                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
														                              <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
														                           </svg>
														                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="number-field-right-label"><span>days</span></div>
                                                                </div>
                                                                <error-msg v-if="errors['data.delivery_cutoff']" :msg="errors['data.delivery_cutoff'][0]"></error-msg>
                                                            </div>

                                                        </div>

                                                    </div>

<!--                                                    delivery_pre_cutoff_behaviour/Action if first order within cutoff period-->
                                                    <div class="col-lg-6 col-md-6" v-if="form.delivery_intent == 'A fixed day each delivery cycle'">

                                                        <label class="label-main-class">Action if first order within cutoff period</label>
                                                        <div class="modal-input-bottom">

                                                            <div class="Polaris-Select">
                                                                <select id="delivery_pre_cutoff_behaviour" class="Polaris-Select__Input" aria-invalid="false" v-model="form.delivery_pre_cutoff_behaviour">
                                                                    <option value="NEXT">Wait until fixed day for this order</option>
                                                                    <option value="ASAP">Send immediately and again on fixed day</option>
                                                                </select>
                                                                <div class="Polaris-Select__Content" aria-hidden="true">
                                                                    <span class="Polaris-Select__SelectedOption" v-if="form.delivery_pre_cutoff_behaviour == 'NEXT'">Wait until fixed day for this order</span>
                                                                    <span class="Polaris-Select__SelectedOption" v-else>Send immediately and again on fixed day</span>
                                                                    <span class="Polaris-Select__Icon">
														         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" clip-rule="evenodd" d="M10 16L6 12H14L10 16ZM10 4L14 8H6L10 4Z" fill="#212B36"></path>
																	</svg>
														      </span>
                                                                </div>
                                                                <div class="Polaris-Select__Backdrop"></div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </fieldset>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="Polaris-Modal-Footer">
                        <div class="Polaris-Modal-Footer__FooterContent">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">

                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button" data-dismiss="modal" @click="closeModel('')"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span></button></div>
                                        <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button Polaris-Button--primary" @click="sendForm()" :class="{'Polaris-Button--disabled' : ( is_disable )}"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">{{btnTxt}}</span></span></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../../../helper";
import ErrorMsg from "../../../shopify/ErrorMsg";

var addPlan = "";
export default {
    components:{
        ErrorMsg
    },
    name: 'AddPlan',
    props: ['showAddPlanModel', 'planGroupId', 'planId', 'shop'],
    data(){
       return{
           interval: [
            {label: 'Day(s)', value: 'day'},
            {label: 'Week(s)', value: 'week'},
            {label: 'Month(s)', value: 'month'},
            {label: 'Year(s)', value: 'year'},
             ],
           form: '',
           is_disable: false,
           errors: [],
           btnTxt: 'Add',
           delivery_anchors_opt: [],
       }
    },
    methods:{
        initForm(group_id){
            this.form = {
                'id': '',
                'ss_plan_group_id': group_id,
                'name': '',
                'description': '',
                'position': '',
                'billing_interval': 'day',
                'billing_interval_count': 1,
                'billing_min_cycles': '',
                'billing_max_cycles': '',
                'delivery_interval': 'day',
                'delivery_interval_count': 1,
                'delivery_cutoff': 1,
                'delivery_pre_cutoff_behaviour': 'NEXT',
                'pricing_adjustment_type': '%',
                'pricing_adjustment_value': '',
                'delivery_anchor_day': 1, // fixed day
                'delivery_intent': 'The initial day of purchase' // recur order on
            };
        },
        closeModel(action) {
            this.errors = [];
            this.initForm();
            this.$emit('update', 'add-plan', action);

            $("#billing-interval option[value*='day']").prop('disabled',false);
            $("#billing-interval option[value*='week']").prop('disabled',false);
            $("#billing-interval option[value*='month']").prop('disabled',false);
        },
        async getData(){
            let base = this;
            helper.startLoading();
            await axios.get('plan.edit/' + this.form.id)
                .then(res => {
                    base.form = res.data.data;
                    base.deliveryAnchorsOpt();
                    if( base.form.delivery_interval == 'month' || base.form.delivery_interval == 'week' ){
                        base.delivery_anchor_day = base.form.delivery_anchor_day;
                    }else if( base.form.delivery_interval == 'year' ){
                        base.delivery_anchor_day = base.form.delivery_anchor_month;
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async sendForm(){
            let base = this;
            base.is_disable = true;
            helper.startLoading();
            await axios.post('plan', {data: base.form})
                .then(res => {
                   
                    if( res.data.isSuccess ){
                         helper.successToast(res.data.data);
                     }else{
                         helper.errorToast(res.data.data);
                     }
                    base.closeModel('refresh');
                })
                .catch(err => {
                    console.log(err);
                    base.errors = err.response.data;
                })
                .finally(res => {
                    base.is_disable = false;
                    helper.stopLoading();
                });
        },
        deliveryAnchorsOpt(){
            this.delivery_anchors_opt = [];
            let deliveryI = this.form.delivery_interval;
            if( deliveryI == 'month' ){
                for( var i =0; i<=30; i++ ){
                    this.delivery_anchors_opt.push(i);
                }
            }else if( deliveryI == 'week' ){
                this.delivery_anchors_opt = ['','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
            }else if( deliveryI == 'year' ){
                this.delivery_anchors_opt = ['','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            }

            $("#billing-interval option[value*='day']").prop('disabled',false);
            $("#billing-interval option[value*='week']").prop('disabled',false);
            $("#billing-interval option[value*='month']").prop('disabled',false);
            if( deliveryI == 'week' ){
                $("#billing-interval option[value*='day']").prop('disabled',true);
                this.form.billing_interval = 'week';
            }else if( deliveryI == 'month' ){
                $("#billing-interval option[value*='day']").prop('disabled',true);
                $("#billing-interval option[value*='week']").prop('disabled',true);
                this.form.billing_interval = 'month';
            }else if( deliveryI == 'year' ){
                $("#billing-interval option[value*='day']").prop('disabled',true);
                $("#billing-interval option[value*='week']").prop('disabled',true);
                $("#billing-interval option[value*='month']").prop('disabled',true);
                this.form.billing_interval = 'year';
            }
        }
    },
    watch: {
        showAddPlanModel(newVal, oldVal) {
            if (newVal === true) {
                this.form.id = this.planId;
                this.form.ss_plan_group_id = this.planGroupId;
                (  this.form.id != '' ) ? this.getData() : this.initForm(this.planGroupId);
                this.btnTxt = (  this.form.id != '' ) ? 'Save' : 'Add';
                $(addPlan).slideDown();

            } else {
                $(addPlan).slideUp();
            }
        },
    },
    mounted() {
        this.initForm('');
        addPlan = document.getElementById("addPlan");
    },
}
</script>
655za
