<template>
    <div class="simplee-portal__wrapper">
         <div v-if="is_loading" class="simplee-portal__verify">
            <div>Verifying customer</div>
            <div><p data-v-25943665="">Please wait...</p>
            </div>
         </div>
        <div v-else class="simplee-portal__wrapper_inner container">
            <section class="simplee-portal__start">
                <div class="container">
                    <div class="Polaris-Tabs__Wrapper">
                        <ul role="tablist" class="Polaris-Tabs first-tab-main justify-content-center">
                            <li class="Polaris-Tabs__TabContainer">
                                <button id="all-customers" role="tab" type="button" tabindex="0" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected" aria-selected="true" aria-controls="all-customers-content" aria-label="All customers">
                                    <span class="Polaris-Tabs__Title">Subscription #1 (Active)</span>
                                </button>
                            </li>
                            <li class="Polaris-Tabs__TabContainer">
                                <button id="accepts-marketing" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" aria-controls="accepts-marketing-content">
                                    <span class="Polaris-Tabs__Title">Subscription #2 (Paused)</span>
                                </button>
                            </li>
                            <li class="Polaris-Tabs__TabContainer">
                                <button id="repeat-customers" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" aria-controls="repeat-customers-content">
                                    <span class="Polaris-Tabs__Title">Subscription #3 (Inactive)</span>
                                </button>
                            </li>
                        </ul>
                        <div class="simplee-portal_tab_select_box text-center">
                            <div class="Polaris-Select">
                                <select id="PolarisSelect2" class="Polaris-Select__Input" aria-invalid="false">
                                    <option value="today">Subscription 1 (Active)</option>
                                    <option value="yesterday">Subscription #2 (Paused)</option>
                                    <option value="lastWeek">Subscription #3 (Inactive)</option>
                                </select>
                                <div class="Polaris-Select__Content" aria-hidden="true">
                                    <span class="Polaris-Select__SelectedOption">Subscription 1 (Active)</span>
                                    <span class="Polaris-Select__Icon">
                                 <span class="Polaris-Icon">
                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                       <path d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"></path>
                                    </svg>
                                 </span>
                              </span>
                                </div>
                                <div class="Polaris-Select__Backdrop"></div>
                            </div>
                        </div>
                    </div>
                    <div class="Polaris-Tabs__content">
                    <div class="Polaris-Tabs__Panel" id="all-customers-content" role="tabpanel" tabindex="-1">
                        <div class="payment_failed_text text-center my-20">
                            <div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb; --p-frame-offset:0px;">
                                <span class="Polaris-TextStyle--variationNegative">Your payment method recently failed. To updated your credit card, <a href="#" class="Polaris-TextStyle--variationNegative">click here</a></span>
                            </div>
                            <div class="Polaris-Layout mt-0">
                                <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
                                    <button class="Polaris-Button Polaris-Button--fullWidth Polaris-Button--primary" type="button">
                              <span class="Polaris-Button__Content">
                              <span class="Polaris-Button__Text">SHIP ORDER NOW</span>
                              </span>
                                    </button>
                                    <div class="simplee-portal__left-Card my-20">
                                        <div class="Polaris-Card__Header p-15">
                                            <div class="Polaris-Stack Polaris-Stack--alignmentBaseline justify-space-between">
                                                <div class="Polaris-Stack__Item">
                                                    <h6 class="Polaris-Heading text-uppercase">next order date</h6>
                                                </div>
                                                <div class="Polaris-Stack__Item">
                                                    <div class="Polaris-ButtonGroup">
                                                        <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                                                            <button class="Polaris-Button Polaris-Button--plain" type="button">
                                                <span class="Polaris-Button__Content">
                                                <span class="Polaris-Button__Text">Edit</span>
                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order__item text-left mt-20">
                                                <h6 class="Polaris-Heading">{{contract.next_order_date | date}}</h6>
                                                <h6 class="Polaris-Heading">Delivered every {{contract.delivery_interval_count}} {{contract.delivery_interval}}</h6>
                                            </div>
                                        </div>
                                        <hr class="hr-color"/>
                                        <div class="Polaris-Card__Header p-15">
                                            <div class="Polaris-Stack Polaris-Stack--alignmentBaseline justify-space-between">
                                                <div class="Polaris-Stack__Item">
                                                    <h6 class="Polaris-Heading text-uppercase">Shipping Address</h6>
                                                </div>
                                                <div class="Polaris-Stack__Item">
                                                    <div class="Polaris-ButtonGroup">
                                                        <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                                                            <button class="Polaris-Button Polaris-Button--plain" type="button">
                                                                <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">Edit</span>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order__item text-left mt-20">
                                                <h6 class="Polaris-Heading grey-color shipping-address">
                                                    <span>{{ contract.ship_name }}</span>
                                                    <span>{{ contract.ship_address1 }}</span>
                                                    <span>{{ contract.ship_address2 }}</span>
                                                    <span>{{ contract.ship_city }} {{ contract.ship_province }} {{ contract.ship_zip }}</span>
                                                    <span>{{ contract.ship_country }}</span>
                                                    <span>{{ contract.ship_phone }}</span>
                                                </h6>
                                            </div>
                                        </div>
                                        <hr class="hr-color"/>
                                        <div class="Polaris-Card__Header p-15">
                                            <div class="Polaris-Stack Polaris-Stack--alignmentBaseline justify-space-between">
                                                <div class="Polaris-Stack__Item">
                                                    <h6 class="Polaris-Heading text-uppercase">Billing information</h6>
                                                </div>
                                            </div>
                                            <div class="order__item text-left mt-20">
                                                <h6 class="Polaris-Heading grey-color account-info">
                                                    <span>{{contract.cc_name}}</span>
                                                    <span>Card type: {{contract.cc_brand}}</span>
                                                    <span>{{contract.cc_maskedNumber}} &nbsp   Exp: {{contract.cc_expiryMonth | lastwo}}/{{contract.cc_expiryYear | lastwo}}</span>
                                                </h6>
                                            </div>
                                            <div class="mt-20">
                                                <button class="Polaris-Button Polaris-Button--primary Polaris-Button--disabled" type="button" disabled="">
                                       <span class="Polaris-Button__Content">
                                       <span class="Polaris-Button__Text text-uppercase">UPDATE CREDIT CARD</span>
                                       </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ship-next-order">
                                        <button class="Polaris-Button Polaris-Button--fullWidth Polaris-Button--primary" type="button">
                                 <span class="Polaris-Button__Content">
                                 <span class="Polaris-Button__Text">SKIP NEXT ORDER</span>
                                 </span>
                                        </button>
                                        <div class="mt-20">
                                            <button class="Polaris-Button Polaris-Button--plain" type="button">
                                    <span class="Polaris-Button__Content">
                                    <span class="Polaris-Button__Text">Cancel subscription</span>
                                    </span>
                                            </button>
                                        </div>
                                        <div class="contract-id mt-20">
                                            <span>Contract #: {{contract.shopify_contract_id}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Layout__Section">
                                    <div class="simplee-portal__right-Card">
                                        <form>
                                            <div class="simplee-portal__right-Card_bg">
                                                <div class="simplee-portal__added-product p-15" v-for="(lineitem, lindex) in contract.lineItems">
                                                    <div class="simplee-portal__added-product_left">
                                                        <div class="simplee-portal__product-img">
                                                            <img :src="lineitem.product_image" alt="product-img" />
                                                        </div>
                                                        <div class="simplee-portal__product-info text-left">
                                                            <a :href="'https://' + `${shop.domain}` + '/admin/products/' + `${lineitem.shopify_product_id}`" target="_blank" class="Polaris-Link">{{ lineitem.product_name }}</a>
                                                            <span class="grey-color">{{ lineitem.variant_name }}</span>
                                                            <span class="grey-color" v-if="lineitem.sku">SKU: {{ lineitem.sku }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="simplee-portal__added-product_right">
                                                        <div class="simplee-portal__added_product_price">{{ lineitem.currency_symbol }}{{ lineitem.price }}</div>
                                                        <div class="simplee-portal__added_product_seperater">x</div>
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect14" class="Polaris-Select__Input" aria-invalid="false" v-model="lineitem.quantity" @change="updatePrice(lindex)">
                                                                <option :value="i" v-for="i in 100">{{i}}</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true">
                                                                <span class="Polaris-Select__SelectedOption">{{lineitem.quantity}}</span>
                                                                <span class="Polaris-Select__Icon">
                                                      <span class="Polaris-Icon">
                                                         <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                            <path d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"></path>
                                                         </svg>
                                                      </span>
                                                   </span>
                                                            </div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                        <div class="simplee-portal__added_product_seperater">-</div>
                                                        <div class="simplee-portal__added_product_discount_price">{{lineitem.discount_amount}}{{lineitem.discount_type}}</div>
                                                        <div class="simplee-portal__added_product_calculated_price">{{ shop.currency }}{{ lineitem.final_amount }}</div>
                                                        <div class="simplee-portal__added_product_delete">
                                                            <a href="#"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="hr-color">
                                            </div>
                                            <div class="simplee-portal__submit_btn text-right mt-20">
                                                <button class="Polaris-Button Polaris-Button--primary" type="button">
                                       <span class="Polaris-Button__Content">
                                       <span class="Polaris-Button__Text">ADD PRODUCTS TO SUBSCRIPTION</span>
                                       </span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>

import helper from "../../../helper";    
export default {
    name: "index",
    data(){
        return{
            host: '',
            apiEndPoint: '',
            is_loading: true,
            CustomerID: '',
            contract: [],
            shop: [],
        }
    },
    methods: {
        async getData(url) {
            let base = this;
            base.is_loading = true;
            url = base.apiEndPoint + '/subscriber';
            await axios.post(url, {customer: this.CustomerID})
                .then(res => {
                   let data = res.data.data;
                   base.shop = data.shop;
                   base.contract = data.contract;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                     base.is_loading = false;
                });
        },

        updatePrice(lindex) {
            let lineitem = this.contract.lineItems[lindex];
            let qty = lineitem.quantity;
            let price = lineitem.price;
            let dis_amt = lineitem.discount_amount;
            let dis_type = lineitem.discount_type;

            let cal_price = (price * qty);
            let amt = '';

            if (dis_type == '%') {
                amt = (cal_price - ((cal_price * dis_amt) / 100)).toFixed(2);
            } else if (dis_type == this.shop.currency) {
                amt = (cal_price - dis_amt).toFixed(2);
            }
            amt = (qty == 0) ? '00.00' : amt;
            this.contract.lineItems[lindex].final_amount = amt;
        },
    }, 
    mounted(){
        this.CustomerID = sessionStorage.getItem('X-shopify-customer-ID');
        this.host = process.env.MIX_APP_URL;
        this.apiEndPoint = this.host + '/api';
        this.getData();
    },
    filters:{
        date(d){
           const monthNames = ["January", "Febuary", "March", "April", "May", "Jun","July", "August", "September", "October", "November", "December"];
            let newDate = new Date(d);
            return monthNames[newDate.getMonth()] + ' ' + helper.lastwo(newDate.getDay())   + ', ' + newDate.getFullYear();
        },
        lastwo(str){
            return helper.lastwo(str);
        }
    }   
}
</script>

<style scoped>

</style>
